[2019-04-01 17:16] frrist opened #2464 "FAST supports filecoin config modification without the daemon running"
### Description
The FAST library should provide a canonical means for modifying the config files of the nodes it controls before they have been started.

### Acceptance criteria
I can modify a FAST nodes config before its been started

### Risks + pitfalls
Remote nodes controlled via docker will need special handling or this issue will need to be completed in a way that works for all use cases.

[2019-04-01 17:25] rkowalick commented on #2458
@NatoBoram Looking into this right now.

[2019-04-01 17:31] ognots commented on #2005
All issues under this epic have been closed or moved

[2019-04-01 17:31] #2005 closed

[2019-04-01 19:32] rkowalick commented on #2458
It seems like you might have accidentally run a command that doesn't include the code version during build time.

It is important to run `go run ./build build` to build the project instead of `go build .`, as the latter does not include the code version into the build.

We also have an instruction `cp go-filecoin $GOPATH/bin` to preserve the code version, since `go install` has the same issue as `

[2019-04-01 19:55] NatoBoram commented on #2458
:thinking:

Here's my exact script to install / update Filecoin :

[code]

I was already using `go run ./build build`.

[2019-04-01 21:06] rkowalick commented on #2458
Ahh, I see the issue. The `go run ./build install` command currently doesn't set the code version correctly. You need to copy the binary created in `build` directly to `$GOPATH/bin`. I have made a PR to address this issue: #2465

Let me know if replacing the `go run ./build install` line with `cp go-filecoin $GOPATH/bin` fixes the issue.

[2019-04-01 21:07] rkowalick commented on #2398
Working on this, pending a discussion with @ZenGround0 (or anyone else) who can help me to set up a test daemon whose chain head has a tipset with multiple blocks.

[2019-04-01 21:19] rkowalick commented on #2034
## Current state

Since the fix of the `propose-storage-deal` timeout, some more investigations and some talks with laser have led me to conclude that this does _sort of_ work properly, in the sense that the deal state does get updated, but after the `client propose-storage-deal` command completes.

The storage client needs to check the deal with `client query-storage-deal` and see a status of `po

[2019-04-01 21:21] shannonwells opened #2466 "Better cbor encoding testing"
### Description
There is a TODO in message_test.go `TestMessageMarshal`:

### Acceptance criteria
While ensuring correct CBOR encoding is largely the responsibility of go-ipld-cbor, it's probably a good idea to complete this todo and also to fix the above []interface{} bug.

### Risks + pitfalls
May expose bugs and/or create testing rattle if not other functional disturbances

### Where to begin
t

[2019-04-01 22:37] NatoBoram commented on #2458
I tried both commands on branch https://github.com/filecoin-project/go-filecoin/pull/2465 and reported [here](https://github.com/filecoin-project/go-filecoin/pull/2465#issuecomment-478770451).

[2019-04-02 00:03] ZenGround0 commented on #2398
Reposting this here:

And after ensure this have both daemons mine one block on top of the same base
Doing this should get the chain in the right state on all daemons by default
the trickiest thing is getting the consensus to elect them both.
However it might be the case that test daemons always win elections
I am not sure the level of mocking going on in mining atm

[2019-04-02 03:37] #1833 closed

[2019-04-02 03:38] anorth commented on #2330
Thanks! Moving to backlog.

[2019-04-02 03:40] anorth commented on #2440
I hope we can do this in a way that is transparent to developers, specifying this and other automatic tags at boot and having them automatically added to all metrics.

[2019-04-02 03:41] anorth commented on #2255
@ZenGround0 could you please expand this issue with more detail? Is there a specific motivating use case?

[2019-04-02 03:53] anorth commented on #1884
As noted in #2245, these wrappers would probably be best modelled as a value type, and ensuring consistent usage as such is part of the work.

[2019-04-02 03:55] anorth commented on #1929
@porcuquine please close this issue if you believe it to be done.

[2019-04-02 03:56] anorth commented on #2357
cc @anacrolix can you shed any light here?

[2019-04-02 03:57] #1929 closed

[2019-04-02 04:00] anorth commented on #1990
I believe this will become a non-issue when we move to go modules #2307

[2019-04-02 04:09] anorth commented on #2071
This has gone stale. @pengxiankaikai did you resolve your issue?

[2019-04-02 04:10] anorth commented on #2026
This issue may be stale from the previous release. @zjoooooo did you resolve your problem?

[2019-04-02 04:11] anorth commented on #2035
@rkowalick could you evaluate whether this is sufficiently fixed, or maybe needs some error message improvements to bring it home?

[2019-04-02 04:12] btcioner commented on #2026
OS X Mojave moved the location of stdlib.h out of /usr/include. This issue exists for other packages and there are several possible solutions suggested in this thread for neovim issue #9050. Thanks to Filecoin community member A_jinbin_filecoin.cn for the link.

[2019-04-02 04:12] btcioner commented on #2026
https://github.com/neovim/neovim/issues/9050

[2019-04-02 04:15] anorth opened #2470 "Model for change: repo migrations"
This epic tracks work to enable in-place upgrades of filecoin nodes that include changes to the schema of data stored on disk.

[2019-04-02 04:16] anorth opened #2471 "Tech design for repo schema migrations"

[2019-04-02 04:17] anorth commented on #2471
See some comments in #1576, but we may be able to do something simpler.

[2019-04-02 04:18] anorth commented on #1576
The repo-migration part of this placeholder is now captured in epic #2471

[2019-04-02 04:21] anorth opened #2472 "Model for change: protocol upgrades"
This epic captures work required to support upgrading the Filecoin protocol while preserving history and compatibility.

- versioned data structures
- protocol parameters
- upgrade (fork) mechanisms

See some notes in #1576. Repo migrations are epic #2470.

[2019-04-02 04:22] anorth commented on #1576
And the protocol upgrade part epic #2472.

[2019-04-02 04:26] anorth commented on #1576
I am closing this issue in favour of the two epics, both of which refer to this to capture the recent comments.

[2019-04-02 04:26] #1576 closed

[2019-04-02 13:16] #1229 closed

[2019-04-02 13:21] woshihanhaoniao opened #2474 "panic: exec: "pkg-config": executable file not found in $PATH"
log

root@aliyun:/home/lisheng/go/src/github.com/filecoin-project/go-filecoin/build# FILECOIN_USE_PRECOMPILED_RUST_PROOFS=true go run ./build deps
package github.com/filecoin-project/go-filecoin/build/build: cannot find package "github.com/filecoin-project/go-filecoin/build/build" in any of:
	/usr/local/go/src/github.com/filecoin-project/go-filecoin/build/build (from $GOROOT)
	/home/lisheng/go/src

[2019-04-02 13:22] rosalinekarr opened #2475 "Leaky Processes from TestRetrieval"
**Describe the bug**

I left my computer on sleep after leaving the office yesterday, and when I came back in this morning, it burning hot and screaming for death. I checked the process list, and it appears that `TestRetrieval` had spun up several unclosed processes when testing over the course of the day.

We need to guarantee that running tests does not leave stray processes running.

**To Repro

[2019-04-02 13:23] dignifiedquire opened #2476 "[bug] Invalid argument passed to param fetch in insall-filecoin-parameters.sh"
**Describe the bug**

When running `go run ./build deps` I encountered the following

[code]

**To Reproduce**
Run the script

**Expected behavior**
No error

**Desktop (please complete the following information):**
 - OS: macOS

**Additional context**
Add any other context about the problem here.

[2019-04-02 13:52] ognots opened #2477 "[bug] Go Modules CircleCI Cache"
**Describe the bug**
Dependencies saved using go modules are not cache properly in CircleCI. Add the appropriate directory to cache and increment cache version number

**To Reproduce**
https://circleci.com/gh/filecoin-project/go-filecoin/13511

[2019-04-02 14:08] Kubuxu commented on #2477
I don't think it is a cache problem. I think it is a problem with `GO111MODULE=on` not being set thus go modules not being enabled.

A solution is to set `GO111MODEULE=on` or build out of `GOPATH` (https://github.com/filecoin-project/go-filecoin/pull/2478)

[2019-04-02 14:21] rkowalick commented on #2035
Looking now

[2019-04-02 15:49] rkowalick commented on #2035
For both Acceptance Criteria cases, I get the following error message:

[code]

I'm not sure if this error message is satisfactory or not. Let me know if want me to change it @anorth

[2019-04-02 17:52] rkowalick commented on #2474
@woshihanhaoniao In order to run that command, you need to be in the `go-filecoin` repository root. You are in the `/build` directory. If you run
[code]
before running that command, it should work.

[2019-04-02 17:52] #2474 closed

[2019-04-02 18:10] zebul opened #2480 "Storing on Filecoin wiki example wrong file extension image.png[bug]"
**Describe the bug**
The [Storing on Filecoin: Import Data](https://github.com/filecoin-project/go-filecoin/wiki/Storing-on-Filecoin) tutorial switches file extension from .jpg to .png resulting in open failure.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [Storing on Filecoin: Import Data](https://github.com/filecoin-project/go-filecoin/wiki/Storing-on-Filecoin#import-data)

2. See

[2019-04-02 18:27] rkowalick commented on #2458
The command on branch #2465 won't work, as that code will be at a different version. You need to use the source code with the git tag 0.1.4 to use user/test-devnet.

So, speaking solely about the steps in https://github.com/filecoin-project/go-filecoin/wiki/Getting-Started#installing-from-source:

1. First off, we need to make sure `$GOPATH/bin` is in your execution path. To check your `$GOPATH`,

[2019-04-02 18:36] #2477 closed

[2019-04-02 18:39] rkowalick commented on #2476
I'm not sure if my version is out of date or yours is, but, after pulling `go-filecoin` master and running `deps`, my `proofs/bin/paramfetch` is okay with the `--all` option.

[2019-04-02 18:43] rkowalick commented on #2476
Closing. Please reopen if the problem persists.

[2019-04-02 18:43] #2476 closed

[2019-04-02 19:09] rkowalick commented on #2480
Fixed! Thanks for pointing this out.

[2019-04-02 19:09] #2480 closed

[2019-04-02 19:30] #2208 closed

[2019-04-02 19:32] acruikshank opened #2481 "Storage Protocol Deals & Dispute Resolution"
This epic tracks work towards establishing a power balance between storage clients and storage miners. It includes work on:

1. Clients promptly retrieving funds for declined or otherwise broken deals.
2. Miners providing sufficient information for clients to track storage proofs on chain (piece inclusion proofs).
3. Requiring miners to prove storage before collecting payment.
4. Slashing miners f

[2019-04-02 21:54] whyrusleeping commented on #2079
@mishmosh on refmt specifically, it tends to not actually be our problem. The bugs we experienced were because, at the time, we hadnt updated the version of refmt we were using for around 8 months.

The primary IPLD problem we have right now is that the go-ipld-cbor library (that I wrote) sucks. It copies things too much and overallocates, and does way more work than it should have to. Additionall

[2019-04-03 01:09] woshihanhaoniao commented on #2474
root@aliyun:/home/lisheng/go/src/github.com/filecoin-project/go-filecoin# FILECOIN_USE_PRECOMPILED_RUST_PROOFS=true go run ./build deps

pkg-config --version
panic: exec: "pkg-config": executable file not found in $PATH

goroutine 1 [running]:
main.runCmd(0x58ec1f, 0x2, 0xc00001e370, 0x1, 0x1)
	/home/lisheng/go/src/github.com/filecoin-project/go-filecoin/build/main.go:83 +0x50b
main.deps()
	/home/

[2019-04-03 03:06] anorth commented on #2457
The use case is a bit unclear to me. Could you provide a concrete motivating example?

[2019-04-03 03:23] anorth commented on #2034
(b) sounds good and probably necessary. Long term, I imagine the piece data
will need to be streamed so the expected size provided out of band, and
hence easy to check.

(a) would also be great if possible, but if it's a giant yak shave, we
could forgo it in return for a solid implementation of (b).

On Tue, 2 Apr 2019 at 08:19, Ryan Kowalick <notifications@github.com> wrote:

[2019-04-03 03:24] anorth commented on #2035
Looks good enough to me, thanks!

[2019-04-03 03:24] #2035 closed

[2019-04-03 06:58] yaohcn opened #2485 "[bug]go-filecoin panic and exit after runing about 24 hours"
**Describe the bug**
go-filecoin panic and exit after runing about 24 hours

**Screenshots**

goroutine 5988 [running]:
runtime.throw(0x1573205, 0x26)
    /usr/local/go/src/runtime/panic.go:617 +0x72 fp=0xc089c87c68 sp=0xc089c87c38 pc=0x4dff82
runtime.mapiternext(0xc089c87d48)
    /usr/local/go/src/runtime/map.go:860 +0x597 fp=0xc089c87cf0 sp=0xc089c87c68 pc=0x4c1777
github.com/filecoin-project/go

[2019-04-03 09:57] woshihanhaoniao opened #2487 "error: failed to run custom build command for `filecoin-proofs v0.1.0 (/home/lisheng/go/src/github.com/filecoin-project/go-filecoin/proofs/rust-fil-proofs/filecoin-proofs)`"
### Description
error: failed to run custom build command for `filecoin-proofs v0.1.0 (/home/lisheng/go/src/github.com/filecoin-project/go-filecoin/proofs/rust-fil-proofs/filecoin-proofs)`
error: failed to run custom build command for `filecoin-proofs v0.1.0 (/home/lisheng/go/src/github.com/filecoin-project/go-filecoin/proofs/rust-fil-proofs/filecoin-proofs)`
process didn't exit successfully: `/ho

[2019-04-03 14:20] rkowalick commented on #2474
Sorry you are still having issues.

The system requirements for building filecoin are listed in https://github.com/filecoin-project/go-filecoin/wiki/Getting-Started#installing-from-source. Please follow those instructions carefully. If you are still having issues, feel free to comment.

[2019-04-03 15:01] mishmosh opened #2488 "Cleaner paramfetch CLI"
Paramfetch is a huge improvement to local parameter generation. But, it still takes a while to download large files, output is difficult to scan, and we still had a few users report they weren't sure where they were in the steps. These files are expected to get even larger, so let's take some time now to improve the paramfetch experience.

## Option 1 (Default)
Massively reduce the default log out

[2019-04-03 15:02] mishmosh commented on #2488
Tagging @rosalinekarr @anorth @dignifiedquire for feedback.

[2019-04-03 15:09] porcuquine commented on #2488
cc @sidke

[2019-04-03 15:29] #2424 closed

[2019-04-03 15:44] rkowalick commented on #2446
@woshihanhaoniao This issues seems like it is being resolved elsewhere. Please feel to reopen if you are still having problems.

[2019-04-03 15:44] #2446 closed

[2019-04-03 15:46] rkowalick commented on #2487
Thanks for the issue report. Could you include details below so we can investigate?

Please reopen this issue once more info is available, and we'll be happy to take another look.

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Run this command '...'
3. See error

**Expected behavior**
A clear and concis

[2019-04-03 15:46] #2487 closed

[2019-04-03 15:47] rkowalick commented on #2475
@rosalinekarr Since this is a bug and not a store, could you fill out the bug template below and put the information in the issue description?

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Run this command '...'
3. See error

**Expected behavior**
A clear and concise description of what you expected to

[2019-04-03 15:48] rkowalick commented on #2460
I have included the template below. Please reopen this issue once more info is available, and we'll be happy to take another look.

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Run this command '...'
3. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**

[2019-04-03 15:48] #2460 closed

[2019-04-03 15:52] sidke commented on #2488
i like option 3, we already have `--verbose` so we can pack the old style in there with proper formatting, and have the minimal output by default. open to feedback from other people who use it

[2019-04-03 17:05] rkowalick commented on #2447
As this issue seems identical to the one referenced above, I'm going to close this. @block2020 please reopen if you are still having issues.

[2019-04-03 17:05] #2447 closed

[2019-04-03 17:17] rkowalick commented on #2488
@mishmosh Can you please use the story template?

[2019-04-03 17:32] travisperson commented on #2457
Running the retrieval test against the devnets (nightly, test, or user): https://github.com/filecoin-project/go-filecoin/pull/2444/files

[2019-04-03 17:43] #2464 closed

[2019-04-03 17:54] shannonwells opened #2490 "Datastore Config should use the advanced datastore configuration from ipfs"
### Description
Is this still relevant? From a todo in config/config.go, DatastoreConfig has only `Type`, `Path` strings but the comment says it should use the advanced datastore configuration from ipfs.

### Acceptance criteria
If we need the configuration from ipfs then it should be imported and used, if not leave as is.

### Risks + pitfalls
related to #2470

### Where to begin
config/config.go

[2019-04-03 18:17] frrist opened #2491 "MessageQueue methods accept a context parameter"
### Description
https://github.com/filecoin-project/go-filecoin/pull/2407 has added metrics to the methods in `message_queue.go`. Currently these metrics use a `context.TODO()`, they should instead use a context that is passed into the method as a parameter, this will allow the metrics to be added to traces later.

### Acceptance criteria
All exported methods in `message_queue.go` accept a context

[2019-04-03 19:29] dignifiedquire commented on #2488
I think something like this would be really nice
![rec_v3](https://user-images.githubusercontent.com/790842/55507265-8da42880-5657-11e9-9766-0e5e39b3a6cd.gif)

Link to library https://github.com/a8m/pb

[2019-04-03 20:26] rosalinekarr commented on #2475
@rkowalick updated

[2019-04-03 22:22] #2463 closed

[2019-04-03 23:36] mishmosh opened #2493 "@anorth -> maintainer proposal"
I nominate @anorth as a maintainer for go-filecoin. I believe he already effectively carries out the responsibilities outlined in [CONTRIBUTING](https://github.com/filecoin-project/go-filecoin/blob/master/CONTRIBUTING.md#maintainers).

1. @anorth is invested in the project as a full-time contributor, familiar with its mission, goals, and constraints. Recent contribution highlights include the mess

[2019-04-03 23:45] anorth commented on #2493
Thank you @mishmosh. I look forward to continuing and growing my impact on the project in all these ways.

[2019-04-03 23:52] phritz commented on #2493
full support from this corner!

[2019-04-03 23:53] phritz commented on #2493
my guess is that alex will be less clumsy than i am when it comes to clicking buttons...

[2019-04-04 09:10] fengchenggang1 opened #2494 "go-filecoin docker images install"
error: package github.com/filecoin-project/go-filecoin/build/*go: cannot find package "github.com/filecoin-project/go-filecoin/build/*go" in any of:

[2019-04-04 09:29] deaswang commented on #2435
same issue. without the previous genesis.car, how to init? @irocnX

[2019-04-04 09:57] contrun opened #2495 "Flaky test of repo/fsrepo_test.go for root user [bug]"
**Describe the bug**
[This line](https://github.com/filecoin-project/go-filecoin/blob/a45c0f1a70c2e8a61d6d5b4e01e641bedb344a06/repo/fsrepo_test.go#L394) change the the permission of directory, within which a new repo is to be created, to 444. Root user will ignore permission 444 and successfully create a new repo anyway. This baffled me a lot as I was running the tests in a docker container. As no

[2019-04-04 14:04] acruikshank commented on #2493
I hholeheartedly approve.

[2019-04-04 14:14] dignifiedquire commented on #2493
I approve, even though nobody asked me :) go forth @anorth

[2019-04-04 14:39] rosalinekarr opened #2497 "[bug] Panics in FAST tests do not surface to the CLI"
**Describe the bug**

Panics in commands do not surface to the CLI when running `TestRetrieval`.

**To Reproduce**

1. Add `panic("Explosion")` to [the first line of the `MessageWait` command](https://github.com/filecoin-project/go-filecoin/blob/master/commands/message.go#L157).
2. Run `go run ./build best --run TestRetrieval`

**Expected behavior**

The output of `go run ./build best --run TestRe

[2019-04-04 15:52] travisperson commented on #2497
*Implementation Notes*

[2019-04-04 18:02] laser opened #2499 "when falling back to local rust-fil-proofs build, if rust-fil-proofs fails to compile, install-rust-fil-proofs.sh script doesn't exit with a non-zero status code"
### Description

### Acceptance criteria

### Risks + pitfalls

### Protocol Changes

### Where to begin

[2019-04-04 19:24] rkowalick commented on #2494
Thanks for the issue report. Could you include details below so we can investigate?

Please reopen this issue once more info is available, and we'll be happy to take another look.

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Run this command '...'
3. See error

**Expected behavior**
A clear and concis

[2019-04-04 19:27] rkowalick commented on #2494
Actually, this seems pretty clearcut.

[2019-04-04 20:07] mslipper commented on #2031
Hi there,

I'm experiencing the following error on the dashboard's backend as well. I've attached the output of `/debug/pprof/heap` to this message. It's become particularly bad over the past day; `go-filecoin` runs out of memory roughly hourly. This happens whether the dashboard is running or not.

[out.txt](https://github.com/filecoin-project/go-filecoin/files/3045273/out.txt)
[out2.txt](https:/

[2019-04-04 20:12] gmasgras opened #2500 "[bug] Flood of spam messages crashes nodes without limits on mpool size and content"
**Describe the bug**
All of the filecoin nodes on the user devnet are being flooded by very long messages, causing a restart loop.
The messages looks like:
[code]

[2019-04-04 20:18] travisperson commented on #2500
@ZenGround0 we need an update to the spec to define a maximum for `Params` and `Method`. We should also identify other areas in the protocol that have unbounded values such as the number of messages in a block.

/cc @whyrusleeping

[2019-04-04 20:39] karalabe commented on #2500
So, the crux of the issue is that you don't have a limit on the message pool. Time limit is not enough, when transaction throughput picks up, you can get overwhelmed in any window. You also need to cater for SPAM transaction's whose sole purpose is to bloat the nodes. A special case here is the 0-price transaction that doesn't even cost anything and doesn't even require an existing account.

In Et

[2019-04-04 20:40] whyrusleeping commented on #2500
@karalabe Thanks! Do you have links to relevant code in geth?

[2019-04-04 20:41] karalabe commented on #2500
https://github.com/ethereum/go-ethereum/blob/master/core/tx_pool.go

[2019-04-04 23:50] mslipper commented on #2031
Possibly related: https://github.com/filecoin-project/go-filecoin/issues/2500. This is a fairly new occurrence on the user devnet.

[2019-04-05 03:39] anorth commented on #2256
See also #2500 about setting limits on mpool size.

[2019-04-05 05:38] aioloszcy opened #2502 "[bug]Can't connect to the network using tag 0.1.4 because. code not at same version"
I download go-filecoin from https://github.com/filecoin-project/go-filecoin/releases/latest. When I execute the filecoin daemon, I get the following error.
Swarm listening on: /ip4/127.0.0.1/tcp/6000
Swarm listening on: /ip4/192.168.1.18/tcp/6000
13:30:52.846  INFO chain.stor: start loading chain at tipset: { zDPWYqFCu9VdMN9pUSSttbjJsxd2sTJGZjXv8AGZvquxnsMRFh9e }, height: 0 default_store.go:114
13

[2019-04-05 12:34] #2502 closed

[2019-04-05 13:54] SaveTheAles opened #2503 "[bug]Build error"
Hi!

All dependencies installation went smoothly.  Apparently I didn't miss nothing.
But after
[code]
command from `root` I've faced on this error

[code]

Is it some ideas how to fix it?

Ubuntu 16.04.5 LTS

[2019-04-05 14:32] terichadbourne commented on #1849
In  *Troubleshooting & FAQs*

The solution you propose for this one:

isn't an option for me:

![image](https://user-images.githubusercontent.com/19171465/55634849-533ca780-578d-11e9-9e46-3213b56292b2.png)

I'm on MacOS High Sierra 10.13.6.

It might be nice to add a table of contents at the top of this page that drops you down into each of the main sections.

_I actually made it to the last page

[2019-04-05 14:32] mishmosh commented on #1834
@mslipper is looking into this one. @travisperson or @frrist can you shed any more light on this, and if it is still relevant or anything has changed in the post-FAST world? the only note i can find from retro is "I wish daemon tests were easily debuggable (+4)".

[2019-04-05 15:16] mishmosh commented on #2449
Closing for now, please re-open if you follow the steps above (updating to new version) and can still reproduce.

[2019-04-05 15:16] #2449 closed

[2019-04-05 15:35] travisperson commented on #1834
@mslipper can you add more details to this? `dlv $PID $BINARY` works, is there something else you need?

[2019-04-05 15:40] mishmosh commented on #2254
The blocking spec PR https://github.com/filecoin-project/specs/pull/192 is now merged, so moving back to Ready.

[2019-04-05 15:43] #2062 closed

[2019-04-05 15:43] mishmosh commented on #2062
IIUC this is fixed now. @gmasgras please re-open if false.

[2019-04-05 15:58] travisperson commented on #2503
Can you please provide what version information for `go`, `rustc`, and `cargo`?

[code]

[2019-04-05 16:03] mishmosh opened #2504 "Scripts for contributors usernames"
### Description
For the [changelog's contributors section](https://github.com/filecoin-project/go-filecoin/blob/master/CHANGELOG.md#contributors) we tried to use these scripts but ran into GitHub API timeouts:
https://gist.github.com/alanshaw/5a2d9465c5a05b201d949551bdb1fcc3

Why reports that he has run into the timeouts before. Do these scripts work out of the box for you @alanshaw @olizilla? If

[2019-04-05 16:21] alanshaw commented on #2504
The scripts work for me - I just used them the other day. It takes ages (because there's so many repos to examine for JS IPFS) but it creates a cache file so if it bugs out you've not lost your progress, just start it again.

Note: you _have_ to get and use a [github personal access token](https://github.com/settings/tokens) (see first line of https://gist.github.com/alanshaw/5a2d9465c5a05b201d949

[2019-04-05 16:23] alanshaw commented on #2504
I'll edit the script for you next friday to output what you need (as defined above).

[2019-04-05 17:55] SaveTheAles commented on #2503
Sure!
[code]

[2019-04-06 00:46] phritz opened #2505 "clarifying/evolving plumbing/porcelain"
@rosalinekarr's work in https://github.com/filecoin-project/go-filecoin/pull/2422 precipitates some interesting plumbing and porcelain questions, and separately @acruikshank is wrestling with placement of getactor in his message processing work. wrt to that he asked:
[code]

My assumptions are different and the fact that https://github.com/filecoin-project/go-filecoin/blob/master/CODEWALK.md#plumb

[2019-04-06 03:00] linsheng9731 opened #2506 "[bug]Out of memory"
Please first see README for how to get help before filing a new bug report.

**Describe the bug**
fatal error: runtime: out of memory

**To Reproduce**
Environment:
Version: filecoin-test-devnet-0.1.4-Linux.tar.gz
OS: CentOS 7.6 x64 / 1 GB Memory / 25 GB Disk /
follow the wiki :https://github.com/filecoin-project/go-filecoin/wiki/Getting-Started
run go-filecoin daemon

**Expected behavior**

**Scr

[2019-04-06 03:49] woshihanhaoniao opened #2507 "error: failed to run custom build command for `filecoin-proofs v0.1.0 (/home/lisheng/go/src/github.com/filecoin-project/go-filecoin/proofs/rust-fil-proofs/filecoin-proofs)`"
###Describe the bug

When I compiled the source code, there was an error.

###To Reproduce

root@aliyun:/home/lisheng/go/src/github.com/filecoin-project/go-filecoin# cd ${GOPATH}/src/github.com/filecoin-project/go-filecoin
root@aliyun:/home/lisheng/go/src/github.com/filecoin-project/go-filecoin# FILECOIN_USE_PRECOMPILED_RUST_PROOFS=true go run ./build deps

###Expected behavior
I want to turn the

[2019-04-07 16:18] lin6461 commented on #2449
It won't send mail again, thank you for your reminder

[2019-04-07 16:20] lin6461 commented on #2449
I am reinstall the latest version, is not to upgrade.

[2019-04-08 00:39] ZenGround0 opened #2508 "Spell out in detail the network events in the lifecycle of a filecoin node"
### Description
We'd like to add a precise set of connections made during the lifecycle of a node in `networking.md`.  This idea came from a discussion when we realized that we did not know precisely which code path was connecting a filecoin node to its peers on the network.

### Acceptance criteria
`networking.md` records a precise set of connections made during a node's lifecycle.

### Risks + p

[2019-04-08 00:43] ZenGround0 opened #2509 "Separate devnet DHTs"
### Description
Currently different devnets have the same peer ids which could cause problems.  One such problem is that DHT records could mistakenly cross networks and cause problems.  One solution for this and other such problems is to namespace filecoin DHTs to reference a specific network.

### Acceptance criteria
We separate DHT namespaces.

### Risks + pitfalls

### Where to begin
The code c

[2019-04-08 00:48] dayou5168 commented on #2506
兄弟，官方推荐8G配置，1G就不用想了，跑不动的。

[2019-04-08 01:25] a8159236 commented on #1965
Hello, can you ask a question again? How do I change if I want to change the path to the .filecoin folder? @yangjian102621

[2019-04-08 01:37] a8159236 opened #2510 "change the path"
How do I change if I want to change the path to the .filecoin folder?

[2019-04-08 01:42] yangjian102621 commented on #1965
@a8159236

By run the filecoin daemon with the `repodir` flag

[code]

[2019-04-08 01:49] a8159236 commented on #1965
alright, thank you very much @yangjian102621

[2019-04-08 03:07] anorth commented on #2505
Thanks @phritz, that is really helpful analysis and guidance and sounds good to me.

cc @ZenGround0 re chain iteration with respect to #2310 canonical block ordering in tipsets. This too should be a low level facility, although maybe just provided by the data types directly rather than explicitly in plumbing.

[2019-04-08 05:36] anorth commented on #1947
@ZenGround0 fixed?

[2019-04-08 05:41] anorth commented on #2509
There are lots of issues about related proposals. Whoever does some work on this, please gather these together and propose a set of changes to resolve them as a group: #1700, #2357, #2421, #2426

One of these existing issues is probably the right tracking issue. #1700 proposes extracting the network protocol string to a configuration parameter, which could make some of these easy to resolve. But d

[2019-04-08 06:02] anorth commented on #2071
I am closing this as stale. Please re-open if the problem persists.

[2019-04-08 06:02] #2071 closed

[2019-04-08 06:09] anorth commented on #2260
At the moment the team is focussed on protocol completeness before broad platform support. It looks like compiling from source is a reasonable workaround to this problem so I'll close the issue now. We're tracking broader architecture support in #2258.

[2019-04-08 06:09] #2260 closed

[2019-04-08 06:24] anorth commented on #2505
@phritz if you think you'll be able to author the CODEWALK changes summarising the guidance we end up with, could we assign this issue to you?

[2019-04-08 06:26] anorth commented on #2509
Another concern is to ensure that developers can connect their node to any network they want to if explicitly opting in.

[2019-04-08 06:27] anorth commented on #2490
@whyrusleeping is this something we should be looking into now, or lower priority/later?

[2019-04-08 06:32] anorth commented on #2500
I propose we split our response to this into at least two parts:
1. a limit on mpool size that will prevent nodes from crashing (even if it still allows a spammer to fill up the pool)
2. more sophisticated limits on particular message properties to promote network progress in the
 face of spam

I think we can scope this specific issue to (1) to stop the crashes, and defer (2) to another issue, whi

[2019-04-08 06:36] anorth commented on #2488
@sidke can we assign this one to you?

[2019-04-08 06:38] anorth commented on #1927
@acruikshank this is really old, is it still a thing?

[2019-04-08 06:42] anorth commented on #2070
cc @shannonwells this may be relevant for repo migration work #2470

[2019-04-08 06:43] anorth commented on #2056
This got better with the removal of `gx` since now there are fewer categories and we're using canonical Go patterns. I'm going to close this for now.

[2019-04-08 06:43] #2056 closed

[2019-04-08 06:45] anorth commented on #1941
@acruikshank I think you adjusted a timeout like this recently - is this issue now resolved?

[2019-04-08 06:46] anorth commented on #1872
See also #2251

[2019-04-08 06:47] anorth commented on #1887
@acruikshank this may be relevant for epic #2481

[2019-04-08 06:48] anorth commented on #1130
@acruikshank for epic #2481?

[2019-04-08 06:51] anorth commented on #1422
@ognots @travisperson WDYT about closing this one. Is it actionable?

[2019-04-08 06:52] anorth commented on #846
I believe we're exploring different tracing options now. Can we close this one?

[2019-04-08 06:53] anorth commented on #1360
Assigning to @mishmosh. We have already made some recent ones available, but some older ones are still private. @mishmosh could you propose a criteria for calling this issue "done".

[2019-04-08 06:55] anorth commented on #804
@dignifiedquire this old issue predates many of the current contributors' tenure. Could you add some more detail so we can understand the motivation and what's needed?

[2019-04-08 09:41] dignifiedquire commented on #804
There are two different implementations of pubsub in libp2p land, one the older one is called floodsub and a newer one called gossipsub. Gossipsub is an improvement over floodsub, but was just being finished when the work on go-filecoin started. This is about switching to it, to get the new benefits.

More details on gossipsub can be found here:
- https://github.com/libp2p/specs/tree/master/pubsub

[2019-04-08 11:53] zhangkuicheng commented on #2510
--repodir

[2019-04-08 13:58] acruikshank commented on #2505
@phritz I agree with all your guidance. The only thing I question is whether we should let plumbing depend on plumbing. Certainly we should prefer cross-dependencies in porcelain over plumbing (e.g. if we A, B, and C to be in the API and A depends on B which depends on C, C should be plumbing and A and B should be porcelain).

Also, building on the point about no-thin wrappers in plumbing, I'd als

[2019-04-08 14:02] acruikshank commented on #1927
It is still true that TestPaymentChannelRedeemSuccess once failed due to an error message in the logs. That test has been modified at least a couple times since then, so I'm going to say it's no longer relevant.

[2019-04-08 14:02] #1927 closed

[2019-04-08 14:05] acruikshank commented on #1941
Yes. This has been addressed in #2425 in response to a duplicate issue #2424.

[2019-04-08 14:09] acruikshank commented on #1887
@ZenGround0 Does this issue refer to the slashing of storage miner by the client for failing to prove a particular deal or the the slashing by the network for failing to prove committed storage?

[2019-04-08 14:10] ognots commented on #1422
the gap between mac and linux builds has narrowed. on average, the mac builds are now only 30% slower than linux builds, no where near what this issue was reporting. this speed difference would roughly be as expected in CircleCI.

closing this issue

[2019-04-08 14:10] #1422 closed

[2019-04-08 14:13] ognots commented on #1941
Closed by https://github.com/filecoin-project/go-filecoin/pull/2425

[2019-04-08 14:13] #1941 closed

[2019-04-08 14:16] acruikshank commented on #1130
@anorth While it's true that that receiveStorageProposal is (and will probably always be in some sense) incomplete, the TODOs that remain are around scaling the miner protocol for large scale mining operations. This isn't in line with the goals of #2481. I'd be up closing this in favor of more pressing issues.

[2019-04-08 15:00] aioloszcy opened #2511 "ERROR /fil/hello: code not at same version: peer has version 966fe75919755074c7c2724f2c9634c2b61d4212"
Please first see README for how to get help before filing a new bug report.
I dowload and Installing from binary  from https://github.com/filecoin-project/go-filecoin/releases，and each time when I run "go-filecoin daemon",it report an error "ERROR /fil/hello: code not at same version: peer has version 966fe75919755074c7c2724f2c9634c2b61d4212, daemon has version xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx, disc

[2019-04-08 16:19] travisperson commented on #2511
It looks like you are trying to connect to the user devnet, you will need to use a release targeted at it to connect. You can find the latest release by reading the README and clicking on the `User Devnet Release` badge.

https://github.com/filecoin-project/go-filecoin/releases/tag/0.1.4

[2019-04-08 16:19] #2511 closed

[2019-04-08 16:19] travisperson commented on #2510
You can also set the `FIL_PATH` environment variable in your shell when running `go-filecoin` for both the daemon, and commands.

[2019-04-08 16:19] #2510 closed

[2019-04-08 16:22] travisperson commented on #2507
Do you have a c compiler installed? It looks like you don't.

[2019-04-08 16:24] travisperson commented on #2503
@laser @sidke any insight? Looks like valid version.

[2019-04-08 16:25] frrist commented on #2440
Closing in favor of https://github.com/filecoin-project/go-filecoin-infra/issues/214

[2019-04-08 16:25] #2440 closed

[2019-04-08 16:27] travisperson commented on #2506
Ya, 1 GB is definitely not enough ram. 8 GB should work in most cases, though when running a mining node I would recommend 16 GB.

[2019-04-08 16:27] #2506 closed

[2019-04-08 16:34] travisperson commented on #2495
I would say running tests as root is not something we are going to support. Were you running into issues trying to run the tests inside of docker? I think we should make sure that is possible though.

[2019-04-08 16:59] laser commented on #2503
Hi @SaveTheAles -

Would you please run the following commands from the root of your go-filecoin project and post the output?

[code]

[code]

[2019-04-08 17:40] SaveTheAles commented on #2503
Hi @travisperson
Thanks for answer, sure

[code]
[code]

[2019-04-08 17:48] frrist commented on #846
I think we will ultimately end up using Jaeger to view the traces we capture. The current exploration has been related to instrumentation, libp2p [has decided to use Opencensus](https://github.com/libp2p/go-libp2p/issues/522#issuecomment-478160559). Filecoin is using Opencensus as well.

I think this issue could be re-titled to: "As a user I can configure my filecoin node to export traces to a tra

[2019-04-08 17:57] shannonwells commented on #2310
Looks like some of this may be addressed with Issue #1847, PR #2422

[2019-04-08 18:36] frrist commented on #2147
This issue has been partially addressed in https://github.com/filecoin-project/go-filecoin/pull/2407, the parent comment has been updated to reflect the current state.

[2019-04-08 18:54] ognots opened #2516 "[bug] CircleCI Forked Build Resource Class Issues"
**Describe the bug**
When Pull Requests are created from forked repositories, in some cases the `build_linux` container is downgraded to a Medium resource class and the `Test` step ultimately fails. Failures log out of memory errors - [affected build](https://circleci.com/gh/contrun/go-filecoin/127):

[code]
The `build_linux` job requests an `xlarge` build container by default.

**To Reproduce**
S

[2019-04-08 19:04] frrist opened #2517 "The go-filecoin message pool has a limit to hedge against DoS attacks"
### Description
As part of addressing https://github.com/filecoin-project/go-filecoin/issues/2500 the message pool needs a size limit to help hedge against DoS attacks.

### Acceptance criteria
- Message pool has a limit that prevents it from growing in size indefinitely.
- Tests for said limiting.

### Risks + pitfalls
This does not completely prevent DoS attacks on message pool, more thought is

[2019-04-08 19:05] frrist commented on #2500
I have opened an issue to address `1.`: https://github.com/filecoin-project/go-filecoin/issues/2517

[2019-04-08 19:38] travisperson commented on #1811
I think a solution to this is to follow a pattern I've started to use for managing sleeping in series (#2514) and allowing for synchronous mining (#2515).

We would set a price and limit value on the context which would be extracted from the context inside of the series and passed into the actions. This will make it easy to set a price / limit for all actions, and the value can be changed when nee

[2019-04-08 19:44] travisperson commented on #1811
Does this seem like an appropriate use for context @whyrusleeping?

[2019-04-08 19:52] travisperson commented on #2497
In FAST we have an [open stream of stderr output](https://github.com/filecoin-project/go-filecoin/blob/master/tools/fast/process_stderr_recorder.go#L10-L36) for all the processes. This might take a bit of rework, but something we could do is grab an `io.TeeReader` off of the stderr stream and do something similar to the [LinePuller](https://github.com/filecoin-project/go-filecoin/blob/master/tools

[2019-04-08 19:56] ognots commented on #2516
A temporary way to unblock community contributions experiencing this issue is for a go-filecoin committer to fork and push a new branch from an affected PR.

Use the following steps:
[code]

The `git push` will trigger the CircleCI build within the original forked PR.

[2019-04-08 19:58] whyrusleeping commented on #2500
@anorth

I don't think it does actually, we should follow the same algorithms used by ethereum. Our model is nearly identical to theirs, and the same DoS prevention mechanisms they use apply to us.

[2019-04-08 20:03] whyrusleeping commented on #1811
Yeah, that seems appropriate to me.
You could have a 'params' object stored in the context that has all these variables.

[2019-04-08 20:05] #2302 closed

[2019-04-08 20:13] travisperson commented on #1811
@frrist would you want to work on this?

[2019-04-08 20:16] #2494 closed

[2019-04-08 20:26] ZenGround0 commented on #2352
* TODO taken from node_test.go `TestNodeStartMining`: we need a principled way to construct an API that can be used both by node and by tests. It should enable selective replacement of dependencies.

[2019-04-08 20:28] gmasgras commented on #2031
The leaks seem to have gotten worse with the `0.1.4` release. Nodes last about 2 days before getting OOM'd.

Here are 6 pprof samples (taken every 10 mins over an hour) of a node running on the user devnet:
https://gateway.ipfs.io/ipfs/QmNW9q8usyFZryBtCyK3FQCHEHK56X6Qqa6st7dhxjs3G9/filecoin-4_pprof.tar.gz

[2019-04-08 20:54] rkowalick commented on #2458
I'm going to close this. If you are still having problems, feel free to reopen.

[2019-04-08 20:54] #2458 closed

[2019-04-08 21:55] rkowalick commented on #2398
In response to the above difficulties, I have simply made a round trip test for both `text` and `json` encodings. I'm pretty sure there is also no such thing as a "null" chain head, so that was also skipped.

[2019-04-08 23:54] anorth commented on #1130
Great, let's do that. We'll open new and more specific issues as we approach that work.

[2019-04-09 00:04] anorth commented on #2110
Who will own this issue. @gmasgras?

[2019-04-09 00:07] gmasgras commented on #2110
👍 assigned myself

[2019-04-09 00:50] anorth commented on #2500
I meant deeper research and thought than a single limit on the number of
messages. I agree that that research is mostly just understanding what
Ethereum does.

On Tue, 9 Apr 2019 at 05:58, Whyrusleeping <notifications@github.com> wrote:

[2019-04-09 01:54] acruikshank opened #2523 "Require non-zero gas price"
### Description

Allowing messages with zero gas price into the incoming message pool is a DoS vector since there is almost no barrier to creating accounts from which messages may be sent. In this respect a limit very slightly above zero (say 1 AttoFil) is still much better than zero.

see #2500

### Acceptance criteria

Messages with zero gas price fail. All documentation is updated to send messa

[2019-04-09 02:00] anorth opened #2524 "Separate staging and sealed sectors from node repo"
### Description
At present, all on-disk storage for a filecoin node is under the "repo" directory, `~/.filecoin`. This directory contains config, structured stores of block data, and subdirectories `staging` and `sealed` for client data. The staging/sealed data is quite different to the protocol store data and the internals are managed by code in `rust-fil-proofs` which is simply given directory p

[2019-04-09 02:03] acruikshank opened #2525 "Limit length of incoming messages"
### Description

Allowing arbitrarily sized messages into the message pool is a DoS vector. libp2p already limits messages to 1Mb, but we would like to have the option to limit further. We would like to do this as close to the network layer as possible so we don't waste resources while processing messages doomed to fail our size check. Ideally we could reconfigure libp2p to do this. At the very le

[2019-04-09 03:59] contrun commented on #2495
@travisperson I was running the test in a docker container. It also failed. I can create a PR which checks if the user is root before running this test.

[2019-04-09 09:02] zhangkuicheng opened #2526 "Some "messages" are in the wrong json format, lose "params""
some messeages just like that :
[code]

I'm not sure if it's an output problem, Please help confirm it.

This messeages is not correct：
`jTuG0KiwymWNhXB6/hws5Dna+2EqdmqwIm3z7AfF/qMwQEvXV/qMSPwFPtMoexR4SksBCE2C7gvxbqzncOE0V1RTs9Xcv/O3vI46DCpHlQ=="`

[2019-04-09 12:53] travisperson commented on #2495
Is there any way you can have the test run as a different user?

[2019-04-09 14:13] contrun commented on #2495
Yes, I can. In some rare case, the current test result may surprise people. This is my point.

[2019-04-09 15:58] laser commented on #2524
The rust-fil-proofs `SectorBuilder` is created with two paths. One of the paths corresponds to the sealed sector directory and the other to the staged sector directory. I don't see any problems with moving those directories out of the "repo" directory. We'll need to augment some tests with additional teardown code; many tests clean up by deleting their "repo" directory.

This will be a little tric

[2019-04-09 16:51] rosalinekarr commented on #2505
@phritz, my understanding was that removing chain iteration from the core was one of the goals of issue #1847. Specifically, you recommended in [this comment](https://github.com/filecoin-project/go-filecoin/issues/1847#issuecomment-461966992) removing the `BlockHistory` method from chain package.

I'm also not convinced that the core needs to own chain iteration beyond the `GetHead` and `GetNext`

[2019-04-09 17:03] travisperson opened #2527 "Payment Vouchers should be a first class type"
### Description

The payment broker actor defines a `PaymentVoucher` type. This type should exist in the `go-filecoin/types` package, and not in the actor itself.

### Acceptance criteria

- `PaymentVoucher`, and accompanied functions are provide in the `go-filecoin/types` package.

### Risks + pitfalls

### Where to begin

https://github.com/filecoin-project/go-filecoin/blob/master/actor/builtin/

[2019-04-09 17:45] laser commented on #2503
I was able to reproduce this build error using the following Dockerfile:

[code]

Commands to repro this issue (from the Docker host, inside the go-filecoin root):

[code]

From the interactive shell (inside the Docker container):

[code]

The error which I see, when building, is:

[code]

[2019-04-09 18:11] laser commented on #2503
@SaveTheAles - Ubuntu 16.04 ships with gcc version 5.4.0. As per the go-filecoin README.md:

You can resolve this issue by either:

1. Installing `clang` and setting the `CC` environment variable to `clang`, e.g. `export CC=clang`
2. Upgrading `gcc` to a supported version

[2019-04-09 18:51] #1947 closed

[2019-04-09 18:51] #2351 closed

[2019-04-09 19:01] ZenGround0 opened #2529 "Identify filesystem access throughout go-filecoin"
### Description
Capture information in a document (perhaps linked from the "other" section of the design docs repo) describing all of the instances the go-filecoin writes to disk and through which abstractions.  In particular we want to know about direct disk access not channeled through strong abstractions as part of scoping model for change work.

### Acceptance criteria
The document mentioned a

[2019-04-09 19:02] laser opened #2530 "A miner selects a sector size when pledging"
### Description

A miner should select a sector size when pledging, i.e. when `miner create` runs. To start with, we should support `Test` and `TwoFiftySixMiB`. The choice of sector size should be constrained to some enumeration of values in Go code.

### Acceptance criteria

[ ] - update `miner create` command to require a new sector size-argument
[ ] - rust-fil-proofs uses selected sector size w

[2019-04-09 19:06] ZenGround0 commented on #2070
@anorth @whyrusleeping I think we need to align on whether this is a product requirement for testnet.  It looks like there are different assumptions around this at the moment and this feature has the potential to spin up a bunch of unaccounted for work.

[2019-04-09 19:16] travisperson opened #2531 "Check for dependencies prior to build"
### Description

A common source of problems for a lot users comes from not having dependencies installed, or having the wrong version.

I think we can provide some better checking of dependencies. At minimum the existed, and even better would be to provide version checking.

I've also updated the bug report template (#2512) to include a lot more information from our users. I think we should autom

[2019-04-09 19:33] mishmosh opened #2532 "Cleanly separated networks (DHT, pubsub, ...)"
This epic collects multiple issues around the topic of cleanly compartmentalizing networks and their DHTs. Whoever works on this, please propose a set of changes to resolve them as a group: #1700, #2357, #2421, #2426

[2019-04-09 20:07] ognots commented on #2174
Making the Docker image public is not currently possible, as we include Wallet Keys that should not under any circumstances be made publicly available.

We will have to redesign the Devnet deploy process to deploy Wallet Keys from Terraform or elsewhere.

Moving this issue to ice box as it now has broader scope.

[2019-04-09 20:15] laser commented on #1932
I'm not sure that this command makes much sense given that we're about to support multiple sector sizes. Perhaps the command could return an enumeration of supported sector sizes (as configured in the genesis block)?

[2019-04-09 20:16] ZenGround0 opened #2533 "Datastore is larger than expected"
### Description
We have gotten reports from @whyrusleeping and others that the datastore is much bigger than expected.  The expectation (I believe) is that chain data dominates the total amount of (non-sector) data stored by the filecoin node.  However at present other data with size an order of magnitude greater than chain data is stored in the datastore.

Here are the relative sizes of the diffe

[2019-04-09 20:43] anorth commented on #2431
@ZenGround0 I now think that this is not so important now, unless investigations elsewhere point to badger itself being a source of bloat. I suggest closing it as not immediately actionable.

[2019-04-10 00:14] anorth commented on #2495
I think we could do without this particular test and its environmental assumption. This test is really just checking that failure fails.

Maybe slightly better than removing the test, could we construct a test where creating the directory will fail for some other reason? Maybe use a parent directory that does not exist:
[code]
Or put a file there first with which the directory name will collide.

[2019-04-10 00:21] anorth commented on #2070
This seems to me like something we could work on during testnet. We will be spending some efforts on scalable miner architecture then and this could fit in well. I don't think we have enough information right now (from users/miners) to motivate work that we are sure is in the right direction.

I don't immediately agree with the assertion that all the datastores should be rolled into one; flexibili

[2019-04-10 00:22] anorth commented on #2531
I think this is a duplicate of #1963. @travisperson please close if you agree and migrate any extra information there.

[2019-04-10 00:29] anorth commented on #2211
This was resolved properly in release 0.1

[2019-04-10 00:29] #2211 closed

[2019-04-10 00:31] anorth opened #2535 "Resolve long low-CPU delays during tests"
### Description
When running tests, I observe periods of intense CPU work and periods where my CPU is near idle (maybe 1 core working). This suggests that the total duration required to run tests is longer than necessary, not constrained by resources. My guess is that there are some lengthy tests that are not but should be marked as parallel.

### Acceptance criteria
- Tests consume all resources

[2019-04-10 04:20] anorth commented on #2471
The design doc draft is https://docs.google.com/document/d/1THzh1mrNCKYbdk1zP72xV8pfr1yQBe2n3ptrSAYyVI8/edit#. This doc is in the filecoin.org domain and publicly accessible.

This is not yet final, but at a point where feedback from the wider team would be most helpful, especially @acruikshank @whyrusleeping. We'll discuss a little in the dev weekly call.

[2019-04-10 07:00] SaveTheAles commented on #2503
@laser
Yeh, I've missed this... Sorry. Now it's working. Thanks a lot. :)

[2019-04-10 07:00] #2503 closed

[2019-04-10 07:11] phritz commented on #2505
thanks for the thorough writeups and thoughtful exploration of the topic

that's a really good point, and i buy it. plumbing should probably just be really thin wrappers and any significant functionality implemented in core. rose points out that this will likely require some hard choices or perhaps might be impossible in some cases due to the way dependencies work. that seems likely, but in my min

[2019-04-10 14:15] rosalinekarr commented on #2505
This sounds fine to me, but I want to be careful about maintaining some rules around dependencies in the project. I think our current dependency rules have helped a lot in enforcing patterns that are more easily mocked and, as a result, more easily tested. We can probably reformulate or lax our current rules a bit, but I just don't want to wind up in a situation like the old test node, where unit

[2019-04-10 14:28] ZenGround0 opened #2536 "Miner actor SectorCommitments map should be a lookup"
### Description
All other map datastructures within actor state are implemented as [hamt-based lookups](https://github.com/filecoin-project/go-filecoin/blob/master/actor/storage.go#L159).  From conversation with @acruikshank it looks like the `SectorCommitments` implementation was meant to be moved to a lookup but it slipped through the cracks.

### Acceptance criteria
We have evaluated whether th

[2019-04-10 14:50] frrist commented on #1811
In light of the recent [comment](https://github.com/filecoin-project/go-filecoin/pull/2515#discussion_r273763967) from anorth I think you are best suited to address this.

[2019-04-10 18:05] travisperson opened #2538 "Move FAST retrieval test to functional-tests, delete shell test"
### Description

I believe the test written in [`tools/fast/tests/retrieval_test.go`](https://github.com/filecoin-project/go-filecoin/blob/master/tools/fast/tests/retrieval_test.go) covers the same surface area as the shell script we current have. I think FAST is at a place we can remove the shell script and helper library.

### Acceptance criteria

- Remove current bash retrieval script
- Move FA

[2019-04-10 18:14] travisperson commented on #2413
I'm going to close as I haven't heard of any frequency as a few things have changed that may of mitigated this. I think #2469 may help here.

If we see it again let reopen and I'll try to investigate further.

[2019-04-10 18:14] #2413 closed

[2019-04-10 21:57] anorth opened #2541 "[bug] Paramcache is not included in the binary release"
**Describe the bug**
Paramcache is not included in the binary release. This means the release is not usable if the parameters cannot be fetched with the included `paramfetch`.

**Expected behavior**
Paramcache is included in the release binary

**Version information**
Since release 0.1

**Additional context**
Reported [here](https://filecoinproject.slack.com/archives/CEGN061C5/p1554882813021400)

[2019-04-10 23:49] whyrusleeping commented on #2493
Oh hey, sounds good to me.

[2019-04-11 03:29] yaohcn commented on #2485
fixed  by  #2522 . closed.

[2019-04-11 03:29] #2485 closed

[2019-04-11 14:31] #2256 closed

[2019-04-11 14:31] #2517 closed

[2019-04-11 14:36] #2398 closed

[2019-04-11 15:59] travisperson commented on #2524
I'd be in favor of keeping all data in a single directory and using configuration with defaults to sub-directories. It makes things much easier to reason about when we only have to worry about a single directory path for basic setups.

[2019-04-11 16:11] travisperson commented on #2493
@mishmosh anything else we need?

[2019-04-11 19:04] porcuquine commented on #2541
Eventually `paramcache` will not be viable concept because it will not be possible to generate them.

In order for this eventual change not to seem like a major problem, we should stop supporting parameters anyone can generate as soon as possible. Instead, everyone should require the single set of parameters which have been published.

The only reason not to do this sooner is that we still believe

[2019-04-11 20:03] travisperson opened #2548 "Should compiling rust libraries (bls / proofs) be opt in?"
### Description

We now have no hard requirement for the rust toolchain since the merge of the precompiled bls work (#2368), at least this is my understanding now.

However, we currently have to opt into downloading the release. Should we switch this around and by default download the precompiled libraries, and require opt in to custom compile?

If we use the precompiled libraries do we have any r

[2019-04-11 20:24] mishmosh commented on #2548
yaaaaaaaaas.

[2019-04-11 20:44] laser commented on #2548
I think that it's a great idea to make folks opt in to compiling rust-fil-proofs and bls-signatures locally instead of the status quo (opting out).

[2019-04-11 21:04] travisperson commented on #2548
Current we have `FILECOIN_USE_PRECOMPILED_BLS_SIGNATURES` and `FILECOIN_USE_PRECOMPILED_RUST_PROOFS`.

I think renaming them to `FILECOIN_COMPILE_*` might be the best approach. I tried to think of a way we could continue to use the current names, while still making sure that running the install scripts directly would default to downloading the release, but ran into an issue trying to figure out th

[2019-04-12 00:49] anorth commented on #2493
Thank you all. Would someone please bless me with repo admin permissions?

On Fri, 12 Apr 2019 at 02:11, Travis Person <notifications@github.com>
wrote:

[2019-04-12 00:54] anorth commented on #2541
Thank you. @porcuquine and I chatted and are in agreement that for the real networks, when launched, parameter generation will not be possible because the parameters will rely on a trusted setup – download will be the only way.

However, before those networks, and possibly even afterwards, parameter generation is useful for development. We can expect all such users to be working from source in the

[2019-04-12 01:01] anorth commented on #2548
I'm in agreement. I understand that @sidke was doing some work to reduce the number of environment variables to one, so that all libraries are consistently downloaded or compiled (which might have been deprioritised recently).

[2019-04-12 01:29] #2541 closed

[2019-04-12 01:49] anorth commented on #2456
@Cyanglacier could you let us know if you're still experiencing a problem? We'll assume you've figured it out and close this issue soon otherwise.

[2019-04-12 01:52] anorth commented on #2516
@ognots you suggested some changes to Circle and parallelism that might help us here. Could you outline that? We agreed that we want contributors to have a first-class experience submitting PRs.

[2019-04-12 01:58] anorth commented on #2526
Our output formats are not well managed at the moment, see #287.

This one does seem more like an actual bug though - the commitSector method call must have params, right? Though they will be binary encoded.

@zhangkuicheng can you provide steps to reproduce that output?

[2019-04-12 01:59] anorth commented on #2531
Closing as a duplicate, please re-open if I'm wrong.

[2019-04-12 01:59] #2531 closed

[2019-04-12 02:00] anorth commented on #2538
Go go go!

[2019-04-12 02:04] anorth commented on #1631
@travisperson is this about done now that FAST is usable? Could remaining work be broken out into a tighter scoped issue?

[2019-04-12 02:22] anorth commented on #2288
@frrist I think this will be resolved by #2542 and the follow-ups.

[2019-04-12 02:46] anorth opened #2550 "Abstract interface to time for faster and precise tests"
### Description
Numerous parts of our code sleep, waiting for real time to elapse before moving on. This dependency on real "wall clock" time complicates and slows down testing. In particular:
- sleeps executed while testing waste developer time and increase the memory footprint of concurrent tests
- it's hard to reliably test things that sleep since the passage of time cannot be precisely control

[2019-04-12 03:59] anorth commented on #2475
@travisperson might this be resolved by eventual conversion to FAST?

[2019-04-12 04:04] anorth commented on #884
We would like to take a digest of the network parameters to use as a sanity check when a node joins the network. The network parameters are distinct from other node configuration, which may differ between interoperating nodes.

It probably makes sense for all of them to go into config, but clearly defining the difference between these two types would be very helpful.

[2019-04-12 04:06] anorth commented on #504
This issue seems stale and I'm not aware of any flakiness related to mineOnce at present. Please re-open if I'm wrong.

[2019-04-12 04:06] #504 closed

[2019-04-12 04:07] anorth commented on #736
We have migrated away from gx.

[2019-04-12 04:07] #736 closed

[2019-04-12 04:08] anorth commented on #852
I think this issue is now redundant. Please re-open if I'm wrong.

[2019-04-12 04:09] #852 closed

[2019-04-12 05:00] contrun commented on #2495
@anorth Sorry for the delay. There are two other tests in the same testing function. One check test will fail if the config file already exists. Another will check test will still succeed even if the repo directory does not exists, as the `checkWritable` function will mkdir if path does not exist. So I think it is best to check running user.

[2019-04-12 05:26] anorth commented on #1849
Thanks Teri! I have made edits to the wiki incorporating most of your feedback, although there are some questions I decided were not to be answered here.

To speak to one confusion in particular: Filecoin and IPFS are quite separate, at least at the moment. We don't assume any familiarity with IPFS from readers of this documentation at the moment. There will be options for integration in the futur

[2019-04-12 13:46] rosalinekarr opened #2551 "Remove unnecessary contexts from chain store"
### Description

The following methods in the chain store interface require contexts as an argument but never actually use it:

[code]

As a result, we pass contexts at every invocation of these methods that, in most cases, we never actually use for anything else. We shouldn't be passing around contexts that are never used.

### Acceptance criteria

The `ctx context.Context` in each of the above m

[2019-04-12 13:55] travisperson commented on #2551
We probably want to keep the context for metrics / tracing. Also, even if we don't use the context in an implementation, we should strongly considering keeping it as part of the interface. Changing interfaces will become much more difficult later.

/cc @frrist

[2019-04-12 13:57] rosalinekarr opened #2552 "Extract getLatestState from the Blockchain Facade plumbing"
### Description

Presently, there is a `getLatestState` private method in `plumbing/bcf/blockchain_facade.go` that should become a public method in the state package.

The functionality of this method is duplicated in several other places throughout the project where a public state package method could be used instead. (Just search for any occurrence of `LoadStateTree`. At the time of this writing

[2019-04-12 14:12] rosalinekarr opened #2553 "GetTipSetAndState should be split into two methods"
### Description

The `GetTipSetAndState` method on `chain/default_store.go` has too many responsibilities and is poorly named. The "State" part returned is actually just `TipSetStateRoot` which is just a Cid used to fetch the latest state with the state package's `LoadStateTree` method.

`GetTipSetAndState` should be split into two methods, one for fetching a `TipSet` and one for fetching a `TipSe

[2019-04-12 14:18] rosalinekarr opened #2554 "Refactor GetRecentAncestors to better use iterators"
### Description

The current implementation of `GetRecentAncestors` in `chain/get_ancestors.go` was originally written before `chain/traversal.go` existed, and as a result, it's logic is largely oriented around reading from channels which no longer exist.

This logic should be rewritten to better utilize the chain iterator and simplify fetching recent ancestors to a `TipSet`.

### Acceptance crite

[2019-04-12 14:19] rosalinekarr commented on #2554
@ZenGround0 would you mind adding some more detail to this task since you originally suggested refactoring this method?

[2019-04-12 14:39] acruikshank opened #2555 "Push proofs access to vm.Context"
### Description

In the current state, the `miner.Actor` has hard dependencies on `proofs` and `proofs/sectorbuilder`. These (and probably some of its other dependencies) are inappropriate for an actor in the VM. Access to proofs may soon be needed by other actors. The interface to proofs should reside in the `vm.Context` and hide as many details about proving as possible from the actor.

This fir

[2019-04-12 14:54] rosalinekarr opened #2556 "Combine ActorFromLatestState and ActorGet methods in core API"
### Description

Currently, there are two nearly identical methods for fetching actors from the latest chain state, `ActorGet` in plumbing and `ActorFromLatestState` in the chain package. `ActorGet` can't be used in other core API packages because it lives in plumbing, and `ActorFromLatestState` seems too unrelated to the chain to live in `chain/default_store.go`.

Both methods should be replaced

[2019-04-12 15:08] rosalinekarr commented on #2551
How does passing an unused argument help with metrics/tracing?

Also, if need the contexts in the future, I'd argue to just re-adding them then. If our code becomes so rigid we can't make changes like that down the road, we'll have much bigger problems to deal with.

[2019-04-12 15:38] mishmosh commented on #2493
@anorth has been added to the `@go-filecoin-maintainers` team on Github, which includes admin access to this repo.

[2019-04-12 15:59] travisperson commented on #2551
Metrics and tracing requires a context to be implemented.

We may want these contexts in the immediate future and doing the work to remove them may be counter productive to near tear work. I think that is a valid reason not to do this work. I will defer to @frrist though as he has more knowledge around if we would want to gather metrics / tracing information from this interface.

I didn't say we c

[2019-04-12 16:08] travisperson commented on #2550
[TestBootstrapperStartAndStop](https://github.com/filecoin-project/go-filecoin/blob/master/net/bootstrap_test.go#L28) is a good example of this. Anywhere we use a ticker in packages could benefit from using a mocked clock for testing. In this example we use the ticker to run our `Bootstrap` method (which is used to ensure our lower water mark for peers) on a periodic interval.

[2019-04-12 16:10] laser commented on #2555
@acruikshank

The actor code doesn't depend on the sector builder. The actor code indirectly relies on libfilecoin_proofs (by way of `RustVerifier`). Does that distinction impact your recommendation to move the seal verification call into VM context?

[2019-04-12 17:54] #2110 closed

[2019-04-12 18:03] RobQuistNL commented on #2050
While I understand its not _that_ important at this moment, it does really need to get better.

I've been running a machine for 22 hours now;

[code]

Here's what the top of `htop` looks like:
![image](https://user-images.githubusercontent.com/1442796/56056756-5ae7e780-5d5d-11e9-8c81-2b46791510fc.png)

Somehow its only on block 29784.

The Peer ID is `QmQ7WoVLeEFUgMmQeFiF6ogyrWSw6YQWK47MXE8C9WucVX

[2019-04-12 18:04] rosalinekarr commented on #2551
*IMPORTANT*

After speaking with @frrist async about it, this issue seems to be a matter of debate, so we should *NOT* start any work on it until we make a decision.

[2019-04-12 18:19] frrist commented on #2551
Here are three reasons I think we should keep them, @travisperson has already touched on most of them.

#### Metric & Tracing:
Both [OpenTracing](https://github.com/opentracing/opentracing-go/blob/master/gocontext.go#L21) and [Opencensus](https://github.com/census-instrumentation/opencensus-go/blob/master/trace/trace.go#L169) use a `ctx` to store tracing data and metric data (they are using `conte

[2019-04-12 18:44] acruikshank commented on #2555
@laser it wouldn't affect my feelings on this, but the miner actor currently depends on some conversion tools in the sectorbuilder package https://github.com/filecoin-project/go-filecoin/blob/9ce92def3e43314e455ffba3d03161106b89480f/actor/builtin/miner/miner.go#L476.

It would be easy to work around that if it were the only issue. The point is that we should minimize the actor's surface contact wi

[2019-04-12 19:23] travisperson commented on #2170
Closed by #2528

[2019-04-12 19:23] #2170 closed

[2019-04-12 19:24] travisperson commented on #1873
Merged #2528, hopefully this resolves these issues.

[2019-04-12 19:24] #1873 closed

[2019-04-12 19:27] travisperson commented on #1631
Ya, I think the larger concern of this issue has been address. A lot of this work was defined prior to FAST being implemented and we didn't really know what we needed. These series could be written, but I don't think they are strictly needed except to showcase as an example.

If we want these we can open additional issues, for now I think we can close this out.

[2019-04-12 19:27] #1631 closed

[2019-04-12 20:29] rosalinekarr commented on #2551
With regard to metrics and tracing, OpenTracing actually offers a singleton implementation which doesn't rely on contexts at all to work, and it actually seems to be the preferred usage of the tool: https://github.com/opentracing/opentracing-go#singleton-initialization

As for retrieving blocks from disk or the network, that's actually done entirely within the `Load` method on the chain store whic

[2019-04-12 20:50] rosalinekarr commented on #2394
@anorth @phritz Isn't this already surfaced with `ConfigGet`/`ConfigSet` in plumbing and `go-filecoin config` in commands?

The following lines can get and set auto seal interval in the CLI:

[code]

And the following lines in plumbing:

[code]

[2019-04-12 21:25] phritz commented on #2394
yeah, but that seems like an implementation detail and there are going to be quite a number of protocol and other parameters that might live eg in code and the thinking was we should have a principled way to surface them...

[2019-04-13 08:05] a8159236 commented on #1965
@phritz Hi, I uploaded more than 256MB of files, but I have been in the "staged" state so far, why haven't "posted" for so long? Is it because the uploaded content is too large? Still because of computer performance, but all the files I uploaded add up to about 500MB.

[2019-04-13 10:11] lin6461 opened #2559 "Questions about Filecoin daemon"
Soon after running the go - filecoin daemon automatically quit, could you tell me who can tell how to keep it stable running. Thank you very much!
Tip the following information:
`rax    0x0
rbx    0x39ab8b
rcx    0x7f31f83c5428
rdx    0x6
rdi    0x523b
rsi    0x52e8
rbp    0x7f2fe67f5270
rsp    0x7f2fe67f4b88
r8     0x0
r9     0xa
r10    0x8
r11    0x202
r12    0x0
r13    0x7f2fe67f6b70
r14    0x4

[2019-04-13 10:58] zhangkuicheng commented on #2526
ok,  Run a node and turn debugging mode on,  <env  GO_FILECOIN_LOG_LEVEL=5>,  captures the messages output .

[2019-04-13 10:59] zhangkuicheng commented on #2526
Run a node and turn debugging mode on, GO_FILECOIN_LOG_LEVEL=5, captures the messages output, thanks

[2019-04-14 03:25] SCUTVincent opened #2560 "[bug] Cannot get FIL by following the instructions of Section "Get FIL from the Filecoin faucet" in Get Started"
**Describe the bug**

Cannot get FIL by following the instructions of Section "Get FIL from the Filecoin faucet" in Get Started
**To Reproduce**
I can start "go-filecoin daemon" and get wallet addr and message CID.
But no response for a long time by "go-filecoin message wait ${MESSAGE_CID}".
Also, return 0 by "go-filecoin wallet balance ${WALLET_ADDR}"

**Expected behavior**
Should return non-zero

[2019-04-14 19:33] travisperson commented on #2560
When you use the faucet to receive funds, we are send you funds from another node. The funds are issued as a message which will be mined into a new block. You need that block synced to your chain before your node can determine that you wallet has the balance. The `message wait` command is used to ensure that the message is 1) mined into a block 2) that you have that block synced to your chain.

Cu

[2019-04-14 19:35] travisperson commented on #2559
How much memory does the machine you are running the node on have?

I'm not sure what the output you provided it, it looks like a sample of a core dump though as I see some register names in there.

[2019-04-14 21:18] #2493 closed

[2019-04-14 22:46] anorth commented on #2551
I am going to close this issue because, as a high level judgement, stores are the kind of component that might do expensive operations (requiring cancellation) and that we will want to instrument with metrics and traces. It's appropriate for contexts to be passed here, even if they are currently unused. It is not worth doing work to remove these right now.

To give my 2c on some of the other justi

[2019-04-14 22:46] #2551 closed

[2019-04-14 22:49] anorth commented on #1965
@a8159236 I think your requests would be better in either the [Filecoin discussion forum](https://discuss.filecoin.io/) or slack/matrix than this issue. We can open a new issue if we can determine a bug is involved.

[2019-04-14 22:55] anorth commented on #2394
See discussion in #884. We will probably move most protocol parameters to configuration, but still need an accessor for them as a group, distinct from other configuration.

[2019-04-14 23:10] anorth opened #2561 "Upgrade libp2p for autorelay fixes"
### Description
Libp2p recently landed a bunch of improvements to relay functionality, addressing heavy resource usage observed in some production relay node. We should upgrade to enjoy the same fixes in the filecoin network relay nodes.

### Acceptance criteria
- Filecoin depends on go-libp2p [0.0.13](https://github.com/libp2p/go-libp2p/releases/tag/v0.0.13)
- @raulk acks that this is the right t

[2019-04-15 00:35] AndyChen1984 opened #2562 "A[build] build go-filecoin 0.1.4 fail。Which version of rust-fil-proofs is need for 0.1.4 go-filecoin?"
Describe the bug
go run ./build build fail

/root/go/src/github.com/filecoin-project/go-filecoin/proofs/sectorbuilder/rustsectorbuilder.go:187:3: cannot use _Ctype_ulong(len(pieceBytes)) (type _Ctype_ulong) as type *_Ctype_char in assignment
/root/go/src/github.com/filecoin-project/go-filecoin/proofs/sectorbuilder/rustsectorbuilder.go:186:18: cannot use (*_Ctype_uchar)(cPieceBytes) (type *_Ctype_u

[2019-04-15 00:51] a8159236 commented on #1965
alright, thank you very much @anorth

[2019-04-15 11:46] raulk commented on #433
Update: @anacrolix has been working on an alternative [pool-based approach](https://github.com/libp2p/go-libp2p-kad-dht/pull/285) to achieve the same effect (enable parallel requests to the same peer). Our tests show no worthwhile improvement under the 99th percentile, under test loads. See discussion in the linked issue for more details.

We should validate these results with more realistic loads

[2019-04-15 13:45] jscode017 commented on #2527
If I want to try out this as my first issue, should I write a new paymentVoucher_test.go for paymentVoucher in/types and delete some overlap in /actor/builtin/paymentbroker/paymentbroker_test.go?

[2019-04-15 15:18] rosalinekarr opened #2563 "Clean up pointer math weirdness in RustVerifier#VerifyPoST"
### Description

The `VerifyPoST` in `proofs/rustverifier.go` contains some ugly pointer math that Go shouldn't be doing. Specifically, around line #85, we call `make` with a byte type as the first argument and multiply the length in the second argument by the byte size of the type rather than just passing the actual type as the first argument.

We should change the first argument to be the actual

[2019-04-15 15:23] travisperson commented on #2527
Ya, I don't know if there are any actual tests of payment vouchers yet, so we'd probably need to write some. Easiest would be a simple round trip test to ensure we can encode/decode.

[2019-04-15 15:28] rosalinekarr commented on #2563
NVM

[2019-04-15 15:28] #2563 closed

[2019-04-15 15:40] #2274 closed

[2019-04-15 16:23] #1847 closed

[2019-04-15 16:58] #2185 closed

[2019-04-15 17:03] travisperson commented on #2562
Can you provide the output of the following

[code]

[2019-04-15 19:41] whyrusleeping opened #2566 "[bug] cant build go-filecoin"
[code]

[2019-04-15 20:45] whyrusleeping commented on #2555
We should have a set of 'builtins' that we can call to from the VM. proof verification can be one of those

[2019-04-15 20:46] shannonwells commented on #2471
- [ ] Unit tests (how-to and coding)
- [ ] Migration validation (how-to and coding)
- [ ] Build functionality
- [ ] Repo migration functionality
- [ ] Logging and output
- [ ] Version detection and upgrade decisioning
- [ ] Importing/using old code where needed
- [ ] CLI

[2019-04-15 20:50] acruikshank opened #2568 "Include Data Commitment in Payment Vouchers"
### Description

In order to prevent storage miners from reopening payment channels without proving storage, storage clients must include a Data Commitment in each payment voucher. This commitment must be generated in such a way that a storage miner will be able to prove inclusion of the client's piece in storage. This means the Data Commitment will need to be computed by rust proofs, so that it c

[2019-04-15 20:54] shannonwells opened #2569 "Create build functionality to build and install migration tool"
### Description
For #2470 repo schema migrations, the migration tool needs a builder.  Migrations live (on a branch) in tools/migration.

### Acceptance criteria

- [x] You can run a command that will build the migration tool which produces a working binary.
- [x] The binary can be run like `go-filecoin-migrate <command>`
- [x] MVP of this binary is to show the usage when run with -h

### Risks +

[2019-04-15 21:05] acruikshank opened #2570 "Predicates in Payment Vouchers"
### Description

In order to prove that a voucher recipient has done an action, vouchers can check a condition before releasing funds. The proximate use case is for storage client to require storage miners to prove they are storing the clients piece before receiving payment.

The condition will come in the form of a message to be called on anther actor. It will contain the actor address, a method

[2019-04-15 21:09] acruikshank opened #2571 "Piece Inclusion Proofs in Deals"
### Description

In order for a client to know their piece is included within a deal, the miner must include a piece inclusion proof. This proof allows the client to verify that their piece is included within a section, which they can then check that the miner is storing via their storage proofs. The signed deal including the proof is also important for storage slashing.

This story is just about

[2019-04-15 21:16] acruikshank opened #2572 "Miner confirms client's Data Commitment"
### Description

The client will be including a data commitment within each of the payments they make to a miner. If this data commitment isn't correct, the miner may not get paid for storage. The miner must validate the data commitment before staging the piece.

After the miner receives all the data from the client, they will generate the data commitment using the same rust proofs function used b

[2019-04-15 21:27] acruikshank opened #2573 "miner.Actor pieceInStorage method"
### Description

Clients need to make payments conditional on whether miners are actually storing their files. #2570 creates to add conditions to vouchers. This story will implement a condition method for piece inclusion and storage.

The method will be on the miner actor for the miner storing the file. It will date the client's data commitment (CommP), the miner's data commitment for unsealed dat

[2019-04-15 21:35] acruikshank opened #2574 "Payment Channel Close"
### Description

Storage clients need to be able to recover funds for broken deals. Currently the only mechanism for recovering funds from a payment channel is to wait for the the channel to expire. For storage deals this means waiting till after the entire duration of the proposed deal, even if the deal was immediately rejected.

To address this, when the payer of a payment channel calls Close, t

[2019-04-15 22:40] #2288 closed

[2019-04-15 23:18] frrist commented on #2535
I observe that the CPU is not being fully utilized only when running functional tests, specifically the FAST test `TestRetrieval`. I believe this is due to the initial setup required for the test, specifically message wait calls:

Configure a genesis node and update its peer-id:
[code]

Start 2 more daemons and connect them:
[code]

Genesis node sends filecoin to the new nodes:
[code]

One of the

[2019-04-15 23:36] AndyChen1984 commented on #2562
root@localhost:~# go version
go version go1.12.2 linux/arm64

root@localhost:~# rustc --version
rustc 1.35.0-nightly (53f2165c5 2019-04-04)

root@localhost:~# cargo --version

root@localhost:~# go env
GOARCH="arm64"
GOBIN=""
GOCACHE="/root/.cache/go-build"
GOEXE=""
GOFLAGS=""
GOHOSTARCH="arm64"
GOHOSTOS="linux"
GOOS="linux"
GOPATH="/root/go"
GOPROXY=""
GORACE=""
GOROOT="/root/go"
GOTMPDIR=""
GOTOO

[2019-04-16 00:17] travisperson commented on #2562
For gcc we require v7.4.0 or later. You can resolve this issue by installing clang or upgrade to gcc v7.4.0

[2019-04-16 01:29] anorth commented on #2524
Yes, I agree that simplicity is valuable. That suggests a layout something like:

[code]

[2019-04-16 01:44] anorth commented on #2026
I think this issue has gone stale, particularly since we have moved to go modules from gx so the original case is not longer reproducible. Please re-open with a new reproduction if this is incorrect.

[2019-04-16 01:44] #2026 closed

[2019-04-16 01:48] anorth commented on #2525
Thanks. We shouldn't rely on libp2p's limits, we should have our own that would still work if libp2p changed underneath us.

[2019-04-16 01:54] anorth commented on #2572
Is this story blocked on proofs, or can we do most of the work anyway?

[2019-04-16 01:59] ytQiao opened #2577 "Cannot generate replication certificate"
I created a number of miners, one of whom transmitted more than 400 M files to another miner, but after a considerable period of time, the miner still had no storage space and generated a copy certificate.

Machine configuration: CPU: AMD 200GE, 8G memory, 4T hard disk.

Is this configuration too weak to complete the replication certification, or is there a BUG in go-filecoin?

[2019-04-16 03:43] ognots commented on #2516
The design outline:
* reduce `go test` parallel setting to 2 (from 8) in order to run in a medium container class without running out of memory
* set CircleCI container parallelism to 4 (from 1)
* using new `go test` test classification tags, break up `build_linux` in to smaller jobs that can be run in parallel in CircleCI workflow

The following is testing results from Implemented design:

Build

[2019-04-16 05:25] anorth commented on #2535
Is this a test that will only be run with `-functional`? If so, yes. I expect that a default `go test` will then have no such delays.

But if we're attempting to replace all daemon tests with FAST, and that will cause integration tests to have these delays, then I think we need to do something else. At the very least run them in more parallel, though this will challenge memory pressure (#2516). @t

[2019-04-16 05:28] anorth commented on #2516
Can `go test` parallelism be sourced from environment so that local
development can opt in to `8`?

On Tue, 16 Apr 2019 at 13:43, Oggy Nots <notifications@github.com> wrote:

[2019-04-16 09:39] vyzo commented on #2561
We have a few more fixes in the pipeline, might make sense to wait a few days for v0.0.14.

[2019-04-16 12:59] rosalinekarr commented on #2456
I'm closing this issue due to lack of response.

@Cyanglacier, if you're still having this problem, can you please reply with your exact initialization steps, and I'll reopen.

[2019-04-16 12:59] #2456 closed

[2019-04-16 13:04] #2507 closed

[2019-04-16 13:04] rosalinekarr commented on #2507
I'm closing this issue to due to no response. @woshihanhaoniao, if you're still having this problem after installing gcc, let us know, and we'll reopen the issue.

[2019-04-16 13:06] rosalinekarr commented on #2526
I suspect this has something to do with logging in the docker environment. @travisperson @frrist, would one of you mind taking this one?

[2019-04-16 13:07] rosalinekarr commented on #2559
@lin6461, can you provide the complete error output including the last few normal logs from the daemon?

[2019-04-16 13:10] rosalinekarr commented on #2560
@SCUTVincent, have you received your FIL yet?

[2019-04-16 13:11] rosalinekarr commented on #2566
@whyrusleeping, can you please update to use the bug report template?

[2019-04-16 13:11] acruikshank commented on #2555
@whyrusleeping I don't have a problem making the functions statically available. My big concern is how do we track what's in and what out at a point where there aren't any limits. Creating a separate package `vm/proofs` or some such would have the same effect. Adding methods to VMContext sends a strong signal though that this code is tied to the VM.

[2019-04-16 13:14] rosalinekarr commented on #2577
@ytQiao, your setup sounds fine, so this may be a bug. Can you please update the issue to use our bug report template and include steps to reproduce the problem?

[2019-04-16 13:26] acruikshank commented on #2572
@anorth There is likely a fair bit of go-filecoin work:

1. Adding the call to fetch the data commitment
2. Wrangling the data in preparation for the rust-proofs call
3. Handling errors on either the go side or the rust side
4. Creating a place for the commitment in the voucher and storing it there.

A fake implementation might be worthwhile to keep the epic moving. We'd still need to coordinate c

[2019-04-16 14:10] #2394 closed

[2019-04-16 14:20] acruikshank commented on #884
Some thoughts:

We can divide our parameters into 3 categories:

1. True protocol parameters. These are in the spec and a Filecoin node must use this parameter to be compliant. Block time is an example. These parameters should be hard coded and require a network fork to change.
2. Semi-protocol parameters. These are parameters that have a "good citizen" range. Node operators can tune the parameter

[2019-04-16 14:24] SCUTVincent commented on #2560
Not yet. The block syncing time is very very long. I am still awaiting it to be finished.

[2019-04-16 15:34] frrist commented on #2535
Correct, issuing the command `go test` will only run unit tests, which do not suffer from any delays.

The plan is to run FAST tests in parallel, which as you have stated will increase our memory usage. However as I understand #2515 this will only cause issues for external contributors. I believe (@ognots please correct me if I am wrong) we can detect the instance size/class we are running on and

[2019-04-16 15:47] rosalinekarr commented on #2560
@SCUTVincent, can you run the following command and paste the output here?

[code]

[2019-04-16 15:49] ZenGround0 opened #2579 "[bug] Mining Once and Mining Start don't work as expected when used together"
**Describe the bug**
Mining Once and Mining Start aren't safe to use together.  This is a placeholder issue that needs more work to describe the underlying race and exactly the conditions that cause this to work poorly.

**To Reproduce**
Try to include a message using mining once while running mining start and watch as it is sometimes not included.  FAST is an example of a place where this shows u

[2019-04-16 15:59] SCUTVincent commented on #2560
root@it-System-Product-Name:~/Desktop/ifps/filecoin# go-filecoin show block zDPWYqFD4onJUygV8qNkPB5kh2J9ZQydjqwJW9EiMG2qqYGogJk5
Block Details
Miner:  t2dqagdc3tudvfhvce7cj5ep6scfmvtuyhfjc3vra
Weight: 179303.345
Height: 22316
Nonce:  0
root@it-System-Product-Name:~/Desktop/ifps/filecoin#

[2019-04-16 15:59] SCUTVincent commented on #2560
root@it-System-Product-Name:~/Desktop/ifps/filecoin# go-filecoin show block zDPWYqFD4onJUygV8qNkPB5kh2J9ZQydjqwJW9EiMG2qqYGogJk5
Block Details
Miner:  t2dqagdc3tudvfhvce7cj5ep6scfmvtuyhfjc3vra
Weight: 179303.345
Height: 22316
Nonce:  0
root@it-System-Product-Name:~/Desktop/ifps/filecoin#

[2019-04-16 16:09] travisperson commented on #2535
There are two ways to write FAST tests

1) Using synchronous mining
2) Using asynchronous mining

Functional tests are expected to be able to run against any deployed network (under the assumption that we have a FAST environment define for it). These tests are forced to use the parameters of the network. If the block time is 30s, and we send a message, we must wait for the message to be mined into

[2019-04-16 17:05] ZenGround0 opened #2580 "[bug] a flawed assumption in FAST SetPriceGetAsk"
**Describe the bug**
Fast `SetPriceGetAsk` is implemented using a flawed assumption.  It assumes that the CLI/porcelain call `MinerSetPrice` does not include a message wait inside it.  This combo of message wait within message construction and send commands is also present in minercreate, and FAST treats that one correctly.

**To Reproduce**
Not an error in behavior but something you can see from

[2019-04-16 17:13] shannonwells opened #2581 "CLI for repo migrations"
## Description
Repo migration should have a CLI that calls the appropriate migration command. This story is only for the interface, not the underlying functionality.

### Questions:
Should errors in CLI processing go to the same logs as the migration log?

## Acceptance criteria
- [ ] The following commands can be run from command line without error, and respond to a help option (-h or --help both

[2019-04-16 17:19] shannonwells opened #2582 "Repo migrations can be built and installed using go-filecoin build command"
### Description
Repo migrations need a build and possibly an install command.

### Acceptance criteria
`go run build/main.go build-migrations` builds the migration tool in `tools/migration` and outputs the binary as `go-filecoin-migrate`

All migrations should be included in the new binary.  The binary should be executable from the command line without having to run chmod, and should exit normally

[2019-04-16 17:25] shannonwells opened #2583 "Create repo migration validation strategy with sample tests"
### Description
Repo migration validation strategy isn't entirely figured out yet.  Decide on good tests for working out that the migration succeeded.

Definitely:
Run daemon tests that do some queries on all parts of the newly migrated datastore, such as chain, deals, keystore, and wallet.

Possibly:
Generate toy repos that need to be migrated, migrate them and run daemon tests that write to the

[2019-04-16 18:00] ognots commented on #2535
@frrist that's almost correct. there's no way to detect resource class, however. the new testing strategy limits `go test --parallel 2` (in CI only) and then uses CircleCI parallel containers to increase testing concurrency (splits tests up between different containers). For community contributors, they might not have any additional privileges in CircleCI such as parallelism or larger resource cla

[2019-04-16 18:19] shannonwells opened #2584 "Implement repo migration logging and output"
### Description
Repo migrations must output useful information and have limited control over output.  Implement logging to a file and to stdout/stderr.

### Acceptance criteria

- [ ] Migration output should at least always go to a file.  This should be detailed output which could help with debugging, without having to rerun a migration.
- [ ] Migration should also be able to print the same, detai

[2019-04-16 18:26] shannonwells opened #2585 "Implement repo migration version detection and upgrade decisioning"
### Description
Repo migrations need functionality that can determine the current repo version, the go-filecoin binary's (desired) repo version, and what migration should be run.

### Acceptance criteria

- [ ] The migration code looks at each migration in the set of migrations. It searches for one whose PreviousVersion matches the current repo version.
- [ ] If it finds a match, that migration, a

[2019-04-16 18:27] rosalinekarr opened #2586 "go-filecoin daemon should log info to stdout"
### Description

Currently, all logs from `go-filecoin daemon` go to stderr, and the only thing printed to stdout is an initial message with the node's current peer id. We should be using stdout for all non-error logging, and stderr should only be used for error logging.

This is specifically creating issues with testing in that we can't dump stderr to the console on test failures because stderr i

[2019-04-16 18:34] shannonwells opened #2587 "Make go-filecoin detect what repo version it needs, check on-disk repo version"
### Description
For repo migrations, go-filecoin must be able to detect what version of a repo it needs, and gracefully shut down with an appropriate error message if the repo needs to be migrated.

### Acceptance criteria
- [x] go-filecoin runs exactly as before if there is no need for a migration
- [x] if go-filecoin detects that a repo version != its desired version, it quits with an appropriat

[2019-04-16 18:36] gmasgras commented on #2586
I agree that logging errors to stderr is a good idea. It would also help us more easily filter logs when searching in Kibana

[2019-04-16 18:40] shannonwells opened #2588 "Figure out how repo migrations will import/call previous version code"
### Description
When there is a repo migration that requires the use of the old code, we will need to figure out the best way to import the old code for conversion and testing.

### Acceptance criteria
- [ ] a migration requiring old versions of repo code (or related) can be run that passes all the migration validation.
- [ ] the migration establishes a sustainable pattern for future migrations.

[2019-04-16 18:42] shannonwells opened #2589 "Spike on repo migrations"
### Description
Issue for the current spike for figuring out basics of repo migration code: layout, relationships, etc.

[2019-04-16 18:42] rosalinekarr commented on #2560
Yeah, this seems like a bug. @ZenGround0, would you mind investigating this one?

[2019-04-16 18:46] shannonwells opened #2590 "Set up repo migration tests to be run in CI"
### Description
Add a stanza to circleci config that will run the repo migration unit tests.

### Acceptance criteria
- [ ] CircleCI runs all repo migration tests, which cause CI to fail if they do not all pass.
- [ ] Tests can be run individually from the tools/migration directory with `go test`
- [ ] Optionally, a test target from the root go-filecoin directory which runs just the repo migration

[2019-04-16 19:00] ZenGround0 commented on #2560
Can someone explain why this appears to be something other than the chain needing to sync for the faucet message to be processed by the local node?

Is there something in the `chain head` output that indicates this?  Is the output head cid the same as the head of the cluster for example?  I don't know how to read the output provided above.

[2019-04-16 19:10] travisperson commented on #2560
The user devnet is at `65593`, if the user has stopped syncing for some reason I think we can look into it further, but at the moment I think they just haven't synced the chain.

[2019-04-16 19:14] rosalinekarr commented on #2560
oh, my mistake. thanks, @travisperson.

@SCUTVincent, it looks like you just need to sync a bit longer. We know syncing takes an unreasonable amount of time, and it's something we're currently working to improve.

[2019-04-16 19:15] rosalinekarr commented on #2560
I'm going to close this issue for now. @SCUTVincent, if you still have the issue after chain catches up with the devnet, let me know, and I'll reopen this issue.

[2019-04-16 19:15] #2560 closed

[2019-04-16 19:16] rosalinekarr commented on #2497
Closing this issue in favor of #2586 instead, since this isn't an urgent issue and I have other priorities.

[2019-04-16 19:17] rosalinekarr commented on #2586
@travisperson @frrist, opinions?

[2019-04-16 19:47] travisperson commented on #2586
I think we will need to cross post this over to the `go-log` and request feedback there. We may be able to update the interface to support defined outputs per log level which would enable directing error levels to stderr and other levels to stdout.

I believe the reason for everything going to stderr is largely due to a patterned established by the golang standard logger and it's just been carried

[2019-04-16 19:49] #2265 closed

[2019-04-16 19:52] mishmosh commented on #1897
@rosalinekarr tagging you since you were the last to edit pipeline state. is this fixed by #1862 or is there a separate PR in review? (or sth else altogether)

[2019-04-16 19:53] mishmosh commented on #2147
Moving back to Ready

[2019-04-16 19:54] mishmosh commented on #1757
@ZenGround0 can you check if https://app.zenhub.com/workspace/o/ipfs/go-ipld-cbor/issues/58 provides what is needed and we can close?

[2019-04-16 19:55] rkowalick commented on #1932
As per the recommendation of @rosalinekarr in #2575, it makes sense to add this to the quite new `protocol` command

[2019-04-16 19:59] frrist commented on #2586
I think we should allow logging output to be configured based on service (e.g. chain, core, node) and level (i.e info, error). For example, as a user I should be able to configure all error leveled logs to be written to a file, or in the case of this issue, StdErr.

I think this is an issue with go-log -- might be worth pointing out in the design doc.

[2019-04-16 20:37] #2034 closed

[2019-04-16 20:46] rosalinekarr commented on #2586
I added an issue to `ipfs/go-log`: https://github.com/ipfs/go-log/issues/60

@frrist, as for adding configuration and writing to files, I think we should stick to the [12factor guidelines on logs](https://12factor.net/logs) and just pipe out rather than trying to build a complex system around managing logs. If we need managed logs, we can pipe our output to existing log management software, like L

[2019-04-16 20:48] laser commented on #1932
As per the spec, the protocol supports multiple sector sizes. What should this command produce? An enumeration of sizes? Also, will this command show the number of user bytes which can be written to a staged sector or will it show the number of bytes that the miner will get power for?

On Tue, Apr 16, 2019, at 12:55 PM, Ryan Kowalick wrote:

[2019-04-16 20:58] laser opened #2591 "Support variable length PoSt and PoRep proofs"
### Description

The miner's selection of PoSt proof partitions count and/or seal proof partitions count will impact the number of bytes in the proofs. The current `commitSector` and `submitPoSt` messages expect `types.SealProof` and `types.PoStProof` today, and those proofs' sizes are hard-coded to 192 and 384 bytes, respectively.

### Acceptance Criteria

1. `submitPoSt` and `commitSector` messa

[2019-04-16 21:02] laser opened #2592 "Provide configuration which allows a miner to select PoSt and PoRep proof partitions"
### Description

A miner can impact the number of PoSt and PoRep proof-bytes in the `submitPoSt` and `commitSector` messages that they generate by adjusting the number of `PoStProofPartitions` and `PoRepProofPartitions` used when generating proofs.

A miner who has a lot of RAM may elect for a small number of proof partitions which means larger circuits and smaller proofs. This costs them less gas

[2019-04-16 21:05] anorth commented on #2145
Moving to backlog for now.

[2019-04-16 21:09] frrist commented on #2586
By output I mean an `io.writer`, this could be a file, a socket, or stderr. Logrus has a good example of this [here](https://github.com/sirupsen/logrus/blob/5bd5a315a50f7f5663063a3f608757fdca721f7f/exported.go#L19).

[2019-04-16 21:15] frrist opened #2593 "[bug] Message to request funds from faucet failed due to mined message with same sender and nonce."
**Describe the bug**
Connected to Usernet and confirmed chain was in sync. Requested funds from the faucet and received message with CID `zDPWYqFCxzKVp9sQx7gM4vWFC56Ngy1C7f5eugdm6KDM4SvkcYP5`. The message was never mined, I confirmed this by waiting 30mins using the command `go-filecoin message wait`.

I inspected the cluster logs and found the [following message](https://search-filecoin-logs-feyx

[2019-04-16 21:22] RobQuistNL commented on #2593
☝️ I'm the one that experienced the bug. Thanks for filing it @frrist! If anyone has any questions, feel free to ping me.

[2019-04-16 21:23] RobQuistNL commented on #2593
Specs of machine:
[code]

[2019-04-16 21:28] ognots commented on #2516
@anorth I've made changes to `build/main.go` to allow overriding parallelism and support CI test splitting, while keeping default go test parallel setting at 8.

have had great results with today's testing incorporating these changes.

here's the final diff: https://github.com/filecoin-project/go-filecoin/compare/test/2/circle-parallelism.

I tested with different CircleCI resource classes and par

[2019-04-16 21:39] acruikshank opened #2594 "Client verifies piece inclusion proof"
### Description

After a deal has been signed, it will contain a piece inclusion proof and a data commitment from the miner (CommD). The client should verify that the PIP does actually prove that their piece (represented by CommP) is in the sector represented by CommD.

### Acceptance criteria

Receiving a signed deal with an invalid proof generates a fault that is surfaced to the client.

[2019-04-16 22:30] anorth commented on #884
Ok, for true protocol parameters I'm not convinced they *must* be
hardcoded, but I can see some value in doing so. We will need multiple sets
of them though, e.g. for different networks.

If we put them in code, lets pull them out to a single struct which may be
exported via API and hashed for handshaking. The title of this issue should
change in that case.

On Wed, 17 Apr 2019 at 00:20, Alex Crui

[2019-04-16 22:45] frrist commented on #2550
All tests that sleep can be found with the command:
`find . -name '*_test.go' | rg -v "daemon" | xargs rg -l Sleep` they are as follows:
[code]

There appear to be a few different reasons for sleeps in our tests:

#### Waiting for the network connection notifications to propagate:
`./protocol/hello/hello_test.go`
`./node/message_propagate_test.go`
`./node/block_propagate_test.go`
`./node/node_test

[2019-04-16 22:48] anorth commented on #2538
@travisperson I sensed some resistance when removing the shell test came up in discussion. Can we address that here? In particular it seems that a few people use the functional test frequently as a sanity check. While in the long term I think that's an unhealthy habit (unit and integration tests should provide sufficient confidence), we should retain support for that use case.

I expect that the i

[2019-04-16 22:51] anorth commented on #2535
Ok, thanks all. I think you can close this @frrist.

On Wed, 17 Apr 2019 at 04:00, Oggy Nots <notifications@github.com> wrote:

[2019-04-16 22:52] #2535 closed

[2019-04-16 22:56] shannonwells opened #2595 "Implement first repo migration"
### Description
The first repo migration is a basic test of the model for change, and may be just a version bump, but could also be

As @ZenGround0 suggests below.

### Acceptance criteria
- [ ] go-filecoin with the migration code correctly detects an out-of-date repo, shuts down and prints instructions for migration
- [ ] an existing repo can be migrated by running `tools/migration/go-filecoin-mi

[2019-04-16 23:10] laser commented on #2538
I use this retrieval test when developing locally. I also use this retrieval test to validate downloaded go-filecoin binaries after a release (local network), and I use it (with some modifications) to test our devnets too.

I'd be quite bummed out to lose it, but I am aware that the software that makes up the "retrieval test" has a carrying cost. I've seen a very high ROI on that software to-date

[2019-04-16 23:16] laser commented on #2538
cc @acruikshank @rosalinekarr @rkowalick @shannonwells ^

[2019-04-17 01:00] steven004 opened #2596 "[bug] Cannot create miners for other peers"
**Describe the bug**
The go-filecoin command:
`go-filecoin miner create [--from=<from>] [--peerid=<peerid>] [--gas-price=<gas-price>] [--gas-limit=<gas-limit>] [--preview] [--] <pledge> <collateral>`

in which there is a peerid option. It makes me think we could create a miner for another peer, but when creating it when my node has a miner already, it will say it is only allowed to create one mine

[2019-04-17 09:12] mkky-lisheng opened #2597 "About the Open Time of the Test Network"
Can you tell us when the test network for filecoin will be open? I'd like to know and get ready. Thank you very much.

[2019-04-17 10:37] jscode017 opened #2598 "[bug]FILECOIN_USE_PRECOMPILED_RUST_PROOFS=true go run ./build deps with 'go mod download' failed: exit status 1"
**Describe the bug**

when I run FILECOIN_USE_PRECOMPILED_RUST_PROOFS=true go run ./build deps
I would get something an error states that 'go mod download' failed: exit status 1

**To Reproduce**

FILECOIN_USE_PRECOMPILED_RUST_PROOFS=true go run ./build deps
**Expected behavior**

**Screenshots**

jasons-MacBook-Pro:go-filecoin jasonwang$ FILECOIN_USE_PRECOMPILED_RUST_PROOFS=true go run ./build de

[2019-04-17 13:09] jscode017 commented on #2598
Oh sorry I think that I fixed this myself.
Just delete $HOME/go/pkg/mod/cache/vcs/1e66a425a66628b4c8571b99c44e217e15f93f72abd3615dd666ce250c6a9fc0

Sorry again if this disturb anyone.

[2019-04-17 13:09] #2598 closed

[2019-04-17 13:46] rosalinekarr opened #2599 "go-filecoin daemon should not output PeerID"
### Description

Outputting the user's peerID from `go-filecoin daemon` seems like it's placing a double responsibility on the daemon command and has already lead to some confusion with users. We should remove this log from `go-filecoin daemon` and change the wiki to advise users to get their peerIDs from `go-filecoin id` instead.

### Acceptance criteria

1. `go-filecoin daemon` no longer outputs

[2019-04-17 13:56] rosalinekarr commented on #2593
I think this may already be resolved by @acruikshank's recent change in #2522, which hasn't gone into devnet yet. @acruikshank, can we confirm that?

[2019-04-17 13:59] rosalinekarr commented on #2596
@anorth @whyrusleeping, should `go-filecoin miner create` even have a `--peerid` flag? It seems like we should just remove this option and always use the user's own peerID.

[2019-04-17 14:02] #2597 closed

[2019-04-17 14:02] rosalinekarr commented on #2597
Please direct questions like this to our [slack](https://filecoinproject.slack.com) or [forum](https://discuss.filecoin.io). I'm closing this issue.

[2019-04-17 14:03] rosalinekarr commented on #2559
I'm closing this issue to due lack of response. @lin6461, if you're still experiencing this issue, let me know, and I'll reopen.

[2019-04-17 14:03] #2559 closed

[2019-04-17 14:37] #1605 closed

[2019-04-17 14:38] #1496 closed

[2019-04-17 14:38] rosalinekarr commented on #2586
@frrist, yeah, I'm saying `go-filecoin` shouldn't have any concept of where its logs are going. It should just write to stdout and stderr, and we should use regular unix piping to direct those logs to some other application for managing logs. The only `io.Writer`s we should have for logging are `os.Stdout` and `os.Stderr`.

[2019-04-17 14:53] rosalinekarr commented on #2538
@travisperson, does the FAST retrieval test cover updating a peer id? I can't find any part of it that does, and I know that's one thing the shell tests covers which has saved from merging a bug at least once.

[2019-04-17 14:54] jscode017 opened #2600 "[bug] go run ./build build error"
**Describe the bug**

I encounter some error for: go run ./build build
**To Reproduce**

after generating deps
run: go run ./build build
**Expected behavior**

**Screenshots**

jasonwang$ go run ./build build
Building go-filecoin...
git log -n 1 --format=%H
go build -ldflags -X github.com/filecoin-project/go-filecoin/flags.Commit=09c3fa3cf9c4be011770f66a18c3d4346af66616 -v -o go-filecoin .
build g

[2019-04-17 14:55] rosalinekarr commented on #2538
Also, fwiw, FAST still has [some outstanding issues](https://github.com/filecoin-project/go-filecoin/issues/2586) regarding properly surfacing errors upon failure which the shell test currently handles better.

[2019-04-17 15:30] rkowalick commented on #2538
My first step in reproducing an issue with filecoin is to comment out or modify certain parts of the retrieval shell script and run a debugger on a filecoin daemon.

The script will be sorely missed, as I have never found a simpler way to reproduce issues with our software.

I also feel bash is appropriate for a daemon and client that are shell based.

[2019-04-17 15:38] laser opened #2601 "A miner's power reflects the amount of storage they've committed to the network"
### Description

Power Table and other EC components should compute power as a function of bytes committed to network.

As per the spec, a miner's power is a function of the total number of bytes they have committed to the network. Today, the miner's power is a function of the number of _sectors_ which they have committed to the network. We need to update this part of the codebase in order to conf

[2019-04-17 15:43] whyrusleeping commented on #2524
That sounds like a good default. But make sure this location is
configurable. An absolute requirement is that I can have my sectors stored
at a location of my choice.

On Mon, Apr 15, 2019, 6:29 PM Alex North <notifications@github.com> wrote:

[2019-04-17 16:18] mishmosh commented on #2488
@mslipper is going to take this on. He's going to describe proposed technical approach in this issue for @sidke and @anorth to review.

[2019-04-17 17:10] rosalinekarr commented on #2600
That's really strange. Nothing in the project should be loading anything from gx anymore.

@frrist, can you look into this one?

[2019-04-17 17:21] rosalinekarr commented on #1897
@mishmosh, nope, it's not fixed yet.

[2019-04-17 17:27] whyrusleeping commented on #2596
Yes. it should always be configurable. You should be able to create a miner for another node.

[2019-04-17 17:30] rosalinekarr commented on #2596
Ok, updating title then.

[2019-04-17 17:44] frrist commented on #2600
Hi @jscode017 this looks like it could be an issue with cached deps.

To clear your go mode cache you can run: `go clean -n -modcache`. Then rerun `go run ./build deps` and `go run ./build build`.

If the problem persists, please share the output of the three aforementioned commands here and we will investigate further.

[2019-04-17 18:29] laser commented on #2592
It is not clear to me if this configuration should be a part of go-filecoin or the `rust-fil-proofs.config.toml` configuration file.

[2019-04-17 18:31] laser commented on #1583
This issue is still blocked on Cryptolab designing and implementing faults.

[2019-04-17 18:35] laser opened #2604 "a miner actor is created with a choice of sector size"
### Description

As per the spec, miner actors must be created with a sector size. This sector size can never change; all commitments will refer to sectors of the chosen size.

To begin with, the choice of sector size should be derived from the `StorageMarketActor` proofs mode. Miners should be created with the smaller sectors if the network is in proofs mode and should be created with larger sect

[2019-04-17 18:55] ZenGround0 commented on #2533
We now know that the biggest source of disk usage is flushing state storage to the cborstore HAMT.
 See [this writeup](https://docs.google.com/document/d/1-EUt0Oj5O5Simb8OWW_hVGDC3_W7iyJnnF4HgW6gsbA/edit?usp=sharing) for an explanation and steps to reproduce:

[2019-04-17 19:47] whyrusleeping commented on #2533
@ZenGround0 your analysis is missing a few things.

- Blocks have all messages embedded directly in them. So we are storing every message once, plus an additional time for each block they are contained in (tipsets with multiple blocks will have duplicate messages)
- sector commitments are stored as a flat array in the miner actors state storage. This means that every time a miner adds a sector, it

[2019-04-17 20:35] travisperson commented on #2593
I think #2522 only addresses changes to the "inbox" `MsgPool`, and this error is in relation to the outbox.

We use both the outbox message queue and the chain head when we compute the next nonce.
https://github.com/filecoin-project/go-filecoin/blob/966fe75919755074c7c2724f2c9634c2b61d4212/plumbing/msg/sender.go#L131-L144

My assumption is we have a race between when we call `LatestState` (note: s

[2019-04-17 20:38] shannonwells commented on #1766
I'm closing this since it's covered by the epic #2470 , even though this was first, and the epic issue is technically a duplicate, it has all the references now.

[2019-04-17 20:38] #1766 closed

[2019-04-17 20:47] travisperson commented on #2593
I'm not too familiar with the `MessageQueue`, @anorth might be able to provide an actual answer to this. I'm not completely sure how the queue / policy stuff works. I think `MessageQueue#Enqueue` might error in the describe case though.

[2019-04-17 21:05] #2523 closed

[2019-04-17 21:27] acruikshank commented on #2593
Yes, @travisperson . The code for #2522 is not deployed yet. The error is being issued from the outbound message queue. I suspect it's WAI and this problem is probably a consensus issue coupled with timeout that may be too short.

@frrist  and I analyzed this a bit. Here's what we know.

1. We've had about 5 of these errors in the last 24 hours. Each was a message from the faucet colliding with an

[2019-04-17 21:49] laser commented on #2342
I haven't seen this test fail in two weeks. I'm closing this issue.

[2019-04-17 21:49] #2342 closed

[2019-04-17 22:38] AndyChen1984 commented on #2562
Sorry to interrupt.The error still report after I installed clang.
 I can build master branch successfully,and I check the code. I dont't understand why report this error.

root/go/src/github.com/filecoin-project/go-filecoin/proofs/sectorbuilder/rustsectorbuilder.go:187:3: cannot use _Ctype_ulong(len(pieceBytes)) (type _Ctype_ulong) as type _Ctype_char in assignment
/root/go/src/github.com/filecoi

[2019-04-17 22:56] travisperson commented on #2593
I think that is the correct explanation @acruikshank.

https://explorer.user.kittyhawk.wtf/blocks/zDPWYqFD1G6yzPy7E4yLy2jKFcnLu5VqqfyYGwpPG7f7M5pZKAQR

[code]

[2019-04-17 23:05] travisperson commented on #2593
I think that is the correct explanation @acruikshank.

We can see the message in block [zDPWYqFD1G6yzPy7E4yLy2jKFcnLu5VqqfyYGwpPG7f7M5pZKAQR](https://explorer.user.kittyhawk.wtf/blocks/zDPWYqFD1G6yzPy7E4yLy2jKFcnLu5VqqfyYGwpPG7f7M5pZKAQR)

To | From | Value | Nonce
-- | -- | -- | --
t1d4rwiflbbx2e3b2ku62r7wypovqgq2zlh6lgaci | t1dncjz3lifvl4edelzyy4uxlcitxsyhlukuff54q | 1000 | 19744 |   |   | nk2mw

[2019-04-17 23:12] travisperson commented on #2562
If go is not picking up clang by default you will need to get `CC=clang` you can do that by running `export CC=clang` or `env CC=clang` before running deps & build.

If you still run into issues, please include the output of
[code]

[2019-04-17 23:35] anorth commented on #2533
Thanks @ZenGround0. Please summarise the findings and suggested actions here (tho IMO the full analysis and repro steps are ok in a doc). We need a few follow-up issues too outlining the various opportunities for improvement, which we can then prioritise independently.

[2019-04-18 05:05] kishansagathiya commented on #2600
This happens on `0.1.4`(user devnet release), haven't seen this in master.
`go run ./build deps` would get the gx repo, but that branch seems to have other problems as well

end of `go run ./build deps`
[code]

[2019-04-18 13:52] acruikshank commented on #2538
From my standpoint, the primary value of the retrieval script is as template for ad hoc automation of complicated interactions. I'm with @anorth that the fact that this is significantly easier in bash is a bug in our integration testing setup, not a feature of bash scripting.

There are a lot of benefits to FAST. One of its original design criteria was that it should be as easy to implement and us

[2019-04-18 14:01] rosalinekarr commented on #2593
@anorth @mishmosh @whyrusleeping, you all may want to take a look at this one

[2019-04-18 14:13] jscode017 commented on #2600
I'm still installing deps not sure if it will work
But the comment of @kishansagathiya remind me something.
I has previously install the version of git tag 0.1.4, maybe that is what cause the problem?
sorry that I did not mention this

[2019-04-18 14:39] RobQuistNL commented on #2599
Some "problems" I ran into:

When first starting the daemon, I got a lot of messages like these (coming in every 20 seconds, a batch of messages like these:)
<details>
  <summary>Click to show console output</summary>

[code]
</details>

`syncing the chain, currently at block height 46981`, in descending order. Its very confusing as its not even syncing the chain (the numbers don't match the repor

[2019-04-18 14:57] jscode017 commented on #2600
After deleting the $GOPATH/bin/go-filecoin
and rerun the whole building process, it built successfully and tests seems to pass
So maybe should delete go-filecoin in $GOPATH/bin before reinstall?

[2019-04-18 15:04] rosalinekarr commented on #2599
@RobQuistNL, this is great feedback. Would you mind opening a new issue for it?

[2019-04-18 16:14] travisperson opened #2611 "FAST provides an easy way to assert on stderr output of actions"
### Description

When testing, a common thing to do is assert that a command exited, and assert that the correct error was received. Currently this is a bit clunky with FAST and we should provide a better way to perform this kind of work.

### Acceptance criteria

### Risks + pitfalls

### Where to begin

[2019-04-18 16:25] travisperson commented on #2593
Something to note: The first block I mentioned above is at height of 65468, it's parent is 65438, which is a difference of 30. I believe this is due to null blocks. What I'm unsure of is if we use this straight difference or do we actually count the number of blocks when it comes to dealing with expiry.

[2019-04-18 16:25] RobQuistNL opened #2612 "Daemon output on intial setup is unclear to new users"
### Description
When initially setting up a node for Filecoin, people will follow the [readme from the project](https://github.com/filecoin-project/go-filecoin/blob/master/README.md) and after installing will end up in the [Getting Started wiki](https://github.com/filecoin-project/go-filecoin/wiki/Getting-Started).

The setup is clear and easy to follow, but as soon as people start up the daemon,

[2019-04-18 16:31] RobQuistNL commented on #2050
I suppose the big amounts of resource usage is also included in this issue, so won't open up a new issue for that. I couldn't find any, but I think the resource issue (CPU / Memory) will be tackled as well.

[2019-04-18 16:49] frrist commented on #2600
@kishansagathiya I believe the errors you are seeing are due to the environment variable `GO111MODULE` being set to `on` when running `deps` on `0.1.4` (which doesn't use go mod, I have been able to reproduce the errors you are seeing by running `deps` with `GO111MODULE=on` on version `0.1.4`). Can you set `GO111MODULE` to `off` (`export GO111MODULE=off`) and run `deps` again? I believe this will

[2019-04-18 18:21] whyrusleeping commented on #2566
Still happening on latest master at this point: 48868f99d02dcca362d5600258e29d77dd06b7c1

[2019-04-18 19:04] acruikshank commented on #2593
@travisperson Thanks for this additional research. The only scenario that makes sense looks something like this:

1. The first message is sent at block height < 65428. It gets nonce 19744, arrives in the queue and gets broadcast to the network. Any message coming in after this will get 19745 because the message is in the queue.
2. Block 65438 lands. The first message is now over 10 blocks old and

[2019-04-18 19:08] laser commented on #2604
Deleting this story in favor of _A miner selects a sector size when pledging #2530_.

[2019-04-18 19:08] #2604 closed

[2019-04-18 19:40] ZenGround0 commented on #2612
This is a valuable set of information and suggestions.  Thank you for filing this.  We recognize that these issues badly need attention and REALLY want to get to them ASAP.  However please understand that we are aggressively prioritizing fundamentals at the expense of leaving UX fires burning.  It will likely be a while before a lot of this is addressed (particularly optimizing the chain processin

[2019-04-18 19:42] ZenGround0 commented on #2357
Pretty sure the root cause is simply that we use the same datastore [when initializing the DHT](https://github.com/filecoin-project/go-filecoin/blob/master/node/node.go#L348) as we use for lots of other stuff (cborstore, bitswap, blockstore).

We should either use another datastore or properly namespace this one into isolation depending on how we move forward with separating out datastores.

[2019-04-18 21:20] RobQuistNL commented on #2612
Hey @ZenGround0, thanks for the quick reply! I've gotten very quick and nice responses from everyone on the Slack channels - basically stating the same. Completely fine and understandable that the UX is not something to focus on (I was actually surprised to see such detailed wiki's at this point of development :) ) and I hope I can help and contribute soon.

Would reviewing pull requests regarding

[2019-04-18 21:39] gmasgras commented on #2329
PR here: https://github.com/filecoin-project/go-filecoin-infra/pull/227

[2019-04-19 02:07] a8159236 opened #2616 "Error: couldn't establish connection to miner: dial backoff"
The following error occurs when I store data to other nodes：
Error: couldn't establish connection to miner:
I tried  'go-filecoin ping <minerPID>', but it didn't work,Display an error： 'Error: dial backoff'.But I can ping other nodes.

[2019-04-19 02:44] a8159236 opened #2617 "Sector cannot be sealed"
Why is the sector storage time too long?
Hi, I uploaded more than 256MB of files, but I have been in the "staged" state so far, why haven't "posted" for so long?
I store data from one miner to the other, and they follow the following steps:

1, go - filecoin miner create 10 100 - gas - price = 0.001 - gas - limit = 300 - peerid  `go - filecoin id | jq -r 'id'`

2. Go-filecoin mining start

3, go-f

[2019-04-19 03:04] jscode017 commented on #2600
@frrist my scenario is that I built 0.1.4 first, and then built the newest commit
And somehow when I had go-filecoin(0.1.4 version) in my $GOPATH/bin, the building process won't compile files.

[2019-04-19 04:19] kishansagathiya commented on #2600
that worked, thanks @frrist

[2019-04-19 06:26] jcchua opened #2618 "go-filecoin message wait stuck"
I am stuck at go-filecoin message wait for many hours
Should I drop it or continue to wait?
zDPWYqFD7DyqwVcQhZKCXkqbT8XCGccRygjqbbPd4DvPLLLmRwH8

[2019-04-19 09:15] mkky-lisheng commented on #2618
Can you elaborate on the description? Or give me a hint.

[2019-04-19 09:45] jcchua commented on #2618
I follow the instruction at https://github.com/filecoin-project/go-filecoin/wiki/Getting-Started  till "Get FIL from the Filecoin faucet"

I am stuck at
3. The faucet will provide you with a message CID. The message should be processed in about 30 seconds.  You can run the following command to wait for confirmation:

go-filecoin message wait ${MESSAGE_CID}

This is the  CID: zDPWYqFD7DyqwVcQhZKCXk

[2019-04-19 13:10] rosalinekarr commented on #2577
Closing due to lack of response. @ytQiao, if you're still having this problem, let me know and I'll reopen.

[2019-04-19 13:10] #2577 closed

[2019-04-19 13:16] rosalinekarr commented on #2616
@ZenGround0, would you mind answering this one? We might also want to add it to the troubleshooting since a similar question was asked in Slack yesterday.

[2019-04-19 13:36] rosalinekarr commented on #2617
@frrist, can you handle this one? Also, it looks like someone in the help slack has a similar problem. I'll @ you in the thread.

[2019-04-19 13:45] rosalinekarr commented on #2618
@jcchua, this is a [known issue](https://github.com/filecoin-project/go-filecoin/issues/2050). Message wait does work, it just takes a very, very long time due to chain syncing at the moment. There's already some work in progress to help speed it up. In the mean time, I'm afraid the best we can suggest is just leaving your daemon running for a few days.

[2019-04-19 13:45] #2618 closed

[2019-04-19 13:48] rosalinekarr commented on #2566
@Why, did @frrist's suggestion of running `go clean -n -modcache` resolve your issue?

[2019-04-19 13:57] yyh1102 commented on #2071
I got this error when running go ./build install.

[2019-04-19 14:29] acruikshank opened #2621 "Cancel payment channel command"
### Description

With #2574 we have the ability to cancel a channel by scheduling it to close early. We need to expose this functionality as a paych command.

### Acceptance criteria

1. `paych cancel` command exists and calls `cancel` on a specified payment channel.
2. FAST tests exist to test this command.

[2019-04-19 14:42] jscode017 commented on #2527
I do not know why failed dht_daemon_test.go? Changing payment Vouchers to ./types do not seems to related with dht_daemon?
And at my machine(macos), I passed all tests for go run ./build best.
Can anyone provide some help please.

[2019-04-19 14:42] acruikshank opened #2622 "Payment Channel Redeem uncancels payment channel"
### Description

Payment channels can now be canceled by the payer. This is a challenge to the target to prove something (usually piece inclusion). The target can uncancel the channel by redeeming a valid voucher.

The challenge is resolved by requiring a proof for a voucher to be valid, but this is not a requirement for this work. Any valid voucher will undo the cancel.

It may be convenient to u

[2019-04-19 15:57] AndyChen1984 commented on #2562
I have compiled 0.1.4 tag successfully.
Thank you very much!

[2019-04-19 16:32] #2562 closed

[2019-04-19 16:54] rkowalick commented on #2405
Since this check will only exist temporarily and the genesis block mismatch is also a warning, it makes sense to make this log a warning instead of error.

This will also allow infrastructure to be alerted by any unexpected errors form the hello protocol package.

[2019-04-19 17:17] frrist commented on #2600
@jscode017 this behaviour is not something I am familiar with, but I am happy it resolved your issue. Since it sounds like this has fixed the problem I am going to close this issue. If the problem resurfaces feel free to reopen and share your output.

[2019-04-19 17:17] #2600 closed

[2019-04-19 17:23] acruikshank opened #2625 "Miner Actor verifies piece inclusion"
### Description

Our payment channels will now require miners to prove storage before collecting payment. This proof needs to happen in the miner actor. Add a `VerifyPiece` method that given a client data commitment (CommP), A miner data commitment (CommD), and a piece inclusion proof (PIP) to `miner.Actor` needs to confirm the following:

1. The piece inclusion proof proves that the data represen

[2019-04-19 17:35] acruikshank commented on #1887
I'm going to answer yes, because I need this too.

When a miner fails to submit PoSts they will hit two separate deadlines. The first is a consensus fault and subjects the miner to slashing because they are claiming storage power they do not have. The second indicates the miner is no longer fulfilling their storage deals with clients. This deadline allows clients to reclaim their storage payments

[2019-04-19 17:48] ZenGround0 commented on #2612
@RobQuistNL in general UX PRs are welcome.

At this stage in the project we haven't thought through any really solid process for planning new features in the open users.  The thing I would like to avoid is having you or other contributors put a lot of work into something that we end up never merging because it conflicts with other goals or constraints that you were not aware of at the start.

I th

[2019-04-19 18:36] frrist commented on #2330
I am going to close this, its attached to the BLS epic so we can reference it whenever this gets picked back up.

[2019-04-19 18:36] #2330 closed

[2019-04-19 18:37] ZenGround0 commented on #2616
Hey @a8159236 thanks for the question.  This question reflects a common and expected usage issue when using our network.  Because this question is so likely to be asked again and its answer is more relevant to users than developers it is best to answer on our user forum [discuss.filecoin.io](https://discuss.filecoin.io/).  Please head over there and copy paste this question for a quick response.

[2019-04-19 18:37] #2616 closed

[2019-04-19 18:37] frrist commented on #862
Going to close, can revisit when appropriate.

[2019-04-19 18:37] #862 closed

[2019-04-19 18:56] rosalinekarr commented on #2566
Closing due to no response. @whyrusleeping, if you're still having this problem, let me know and I'll reopen.

[2019-04-19 19:21] #2405 closed

[2019-04-19 19:23] acruikshank opened #2629 "Integrate PIP verification into miner.Actor"
### Description

PIPs need to be verified in the miner actor. This verification occurs in rust proofs and is not currently available in go-filecoin. We will be mocking this until it is available. This issue tracks progress torwards full integration.

### Acceptance criteria

1. PIPs must be valid for `miner.Actor.verifyPIP` to return successfully.

[2019-04-19 19:47] #1932 closed

[2019-04-19 20:27] frrist commented on #2617
Hi @a8159236 can you please provide us with the following information so that we may better help to debug your problem:

- Go Version: (`$ go version`)
- Filecoin Version (`$ go-filecoin version`)
- System Details: (`$ uname -a`)
- How many nodes you are running on your machine (The issue gives me the impression you are running 2 and trying to make a deal between them)
- Miner Details (node you ar

[2019-04-19 21:08] #2621 closed

[2019-04-19 23:15] frrist commented on #2497
Instead of attempting to parse the entire panic and display it on failure would we be alright with identifying that a panicked has occurred, and directing the user to the log file where they may view it?

Any test/code using the FAST library would return an error like:
`16:13:08.924 ERROR /tmp/local: The daemon panicked, captured in: /tmp/localnet255779492/0/daemon.stderr process.go:145`

Thoughts

[2019-04-19 23:33] mslipper commented on #2488
I took a look at the `paramfetch` code in `rust-fil-proofs`. The current implementation spawns a `curl` subprocess in `spawn_fetch_parameter_file`. Since it's likely that people with `curl` installed will also have `libcurl`, I suggest that we us a library such as [curl-rust](https://github.com/alexcrichton/curl-rust) and override the `progress_fn` to render a progress bar. I like the lib that @di

[2019-04-20 02:30] whyrusleeping commented on #2566
Nope, running `go clean -n -modcache` did not resolve the issue. I also did not see that suggestion. And waiting less than a day before closing an issue is not okay.

[2019-04-21 23:00] mslipper commented on #2488
@anorth does this sound reasonable to you?

[2019-04-22 06:12] steven004 opened #2630 "[bug] Message pool panics due to concurrent map access under load"
**Describe the bug**
The filecoin daemon will crash while facing non-stop deal-proposals from a client.

**To Reproduce**
1. Run a filecoin daemon and start mining with predefined asks
2. From another node, using a scripts for send deal-proposal requests, one per 3 minutes. Some requests fail, some succeed.
3. Keep the system running, you will see the system crash.

**Expected behavior**
The syste

[2019-04-22 07:37] diwufeiwen opened #2631 "[bug]"
Describe:
The filecoin daemon will crash while facing non-stop deal-proposals from a client.

Log:
fatal error: concurrent map iteration and map write

goroutine 17856 [running]:
runtime.throw(0x1487c85, 0x26)
	/usr/local/go/src/runtime/panic.go:617 +0x72 fp=0xc0c2793c68 sp=0xc0c2793c38 pc=0x4e3e62
runtime.mapiternext(0xc0c2793d48)
	/usr/local/go/src/runtime/map.go:860 +0x597 fp=0xc0c2793cf0 sp=0x

[2019-04-22 12:59] a8159236 commented on #2617
Hi @frrist  I'm sorry for replying so late. For the previous question, I changed the configuration of the machine for a new test. I used AMD200GE and 8G memory before, but now I change it to AMD200GE and more than 16G memory. It seems that the program is very demanding for hardware. If I change the CPU with higher performance and increase the memory, I wonder whether the performance will be improv

[2019-04-22 13:20] AndyChen1984 opened #2632 "[bug]Can't Get FIL from faucet"
**Describe the bug**
Can't Get FIL from faucet. The command "go-filecoin message wait" can't return.

**To Reproduce**
rm -rf ~/.filecoin
go-filecoin init --devnet-user --genesisfile=https://genesis.user.kittyhawk.wtf/genesis.car
go-filecoin daemon &

export WALLET_ADDR=`go-filecoin address ls`    # fetch your wallet address into a handy variable
MESSAGE_CID=`curl -X POST -F "target=${WALLET_ADDR}

[2019-04-22 14:43] ZenGround0 commented on #2631
Hey @diwufeiwen, first thank you for filing a bug report!

However, because you did not include the `go-filecoin version` information this bug report is hard to do anything with.  In the future please fill out the complete bug report template to make bugs actionable.

Without more information the best explanation is that this is the bug initially suggested to be fixed [here](https://github.com/fil

[2019-04-22 14:43] #2631 closed

[2019-04-22 14:51] ZenGround0 commented on #2632
@AndyChen1984 First off thank you very much for filing the full bug report!  Filling out all of the fields was very helpful for helping diagnose your problem.

My best explanation of your issue is this: you simply need to wait longer for your chain to download and sync.  Only after your node has synced the chain will it be able to see your funds. An unfortunate consequence of `go-filecoin`'s proto

[2019-04-22 16:38] ZenGround0 opened #2634 "Don't store state of every tipset on disk forever"
### Description
Right now we store the full state tree object (address to actor struct map) of every tipset ever processed by a daemon on disk.  This is currently the most significant part of the filecoin node's disk footprint.  Depending on the chain being processed it has been observed to take up to 20x more space than other disk writes combined.

This is much more than we need to store consider

[2019-04-22 17:05] ZenGround0 opened #2635 "Investigate optimizing HAMT width"
### Description
The filecoin node's disk usage is dominated by storing state.  Part of the reason this is so disk heavy is that we currently write an entire HAMT node for every new state.  Flip a bit in any actor's storage and you write ~2kb.  This means that every new tipset writes a new HAMT node.  This is actually worse because we need to process blocks on their own for verification so a tipset

[2019-04-22 17:25] ZenGround0 opened #2636 "Chain data stored twice on disk"
### Description
Our design should not be storing chain data once in a bitswap datastore and then copying it all over to a chain datastore.  Originally I enforced this separation to reason about security.  Specifically I wanted to prevent code from ever assuming a block had been verified without verifying it first.  The clunky way the code does this now is by only writing verified blocks to the cha

[2019-04-22 17:36] ZenGround0 opened #2637 "ChainStore should trim old forks during runtime"
### Description
Right now the chain store does not trim forks that have not made it into the main chain.  It should do so after a certain amount of time, ideally after the branching point has been buried beyond the finality point of the head of the chain.

### Acceptance criteria
(1) there is a sensible GC mechanism that removes forks from the chain store during a long run.  This includes all of t

[2019-04-22 17:42] ZenGround0 opened #2639 "Chain datastore increases on every daemon restart"
### Description
I have observed the chain datastore size increase by ~1 MB on every daemon restart (the number varies based on how much data is in chain datastore). This is an issue I noticed when running du after restarting daemons.

The `chainStore.Load` function is the biggest suspect because it runs once immediately on restart of a daemon and the increase in datastore size happens once immedia

[2019-04-22 17:46] frrist commented on #2617
Any linux distros should be fine. What version of go-filecoin are you running? Also be sure to follow the [Getting Started Instruction](https://github.com/filecoin-project/go-filecoin/wiki/Getting-Started).

Can you provide me with the number of files you are attempting to store as well as their sizes?

[2019-04-22 17:46] shannonwells commented on #2566
What happens if you run dumb deps?  Maybe try manually deleting it from `pkg/mod` ?  https://github.com/imdario/mergo/issues/93

I'd also make sure that clearing the cache actually deleted the cache, just in case there is some weird permissions problem.  $GOPATH/src/v/cache

[2019-04-22 17:47] ZenGround0 opened #2640 "Implement Filecoin Compact Serialization"
### Description
We have an efficient encoding laid out [in the spec](https://github.com/filecoin-project/specs/blob/master/data-structures.md#filecoin-compact-serialization).  Let's make it happen

### Acceptance criteria
Spec synced

### Risks + pitfalls
I think this will require a very different paradigm for interaction with refmt.  I don't think atlases will cut it anymore as we're moving away

[2019-04-22 17:48] ZenGround0 commented on #2533
[Meta note: My strong opinion is that the analysis and repro steps should only live in a doc.  A one sentence summary and link is WAI.  The question at hand is "what kind of doc should they live in?"  I have a similar (but weaker) opinion about design docs living as markdown on github but let's talk about that [here](https://github.com/filecoin-project/pm/issues/147).]

## Suggested Actions Relate

[2019-04-22 17:48] #2533 closed

[2019-04-22 17:48] mslipper commented on #1834
@travisperson I'm not sure - my goal with this is to implement the debuggability note from the retro.

Perhaps I could take a look at the FAST debug environment and see if there's a workaround for the stdin inssue you mentioned?

[2019-04-22 18:20] #2582 closed

[2019-04-22 18:20] #2589 closed

[2019-04-22 18:26] shannonwells commented on #2590
closed with #2614 Build, test migration CLI... etc

[2019-04-22 18:26] #2590 closed

[2019-04-22 18:28] shannonwells commented on #2569
Closed with #2614 build test and skeleton CLI for repo migrations

[2019-04-22 18:28] #2569 closed

[2019-04-22 18:53] #2527 closed

[2019-04-22 18:54] ZenGround0 opened #2641 "TODO should the server environment be the passed in context daemon.go?"
### Description
Tracking [this TODO](https://github.com/filecoin-project/go-filecoin/blob/master/commands/daemon.go#L133)
cc @dignifiedquire who wrote this.

### Acceptance criteria

### Risks + pitfalls

### Where to begin

[2019-04-22 19:00] travisperson commented on #1834
I found a way around this last week and have a PR (#2610) open for it. I'm going to move the documentation from the PR into a few files though before it's merged.

A few other things are also landing for FAST here in a bit. #2627 ensures we have proper output for investigating test failures, and I'm going to start working on #2497 to make it easier to discover panics during tests, and later be abl

[2019-04-22 20:09] whyrusleeping commented on #2566
@shannonwells ah, yeah. Looks like deleting my pkg/mod cache did the trick, thanks!

[2019-04-22 20:15] frrist commented on #2630
Hi @steven004, thanks for filing this.

In the interest of reproducing this panic would you mind sharing the script you use for the deal making process?

----------------------------

The panic provided in the log file is indeed quite long. It seems to indicate that we have a concurrency bug around message pool:
[code]

[2019-04-22 20:16] whyrusleeping commented on #2635
One great way to investigate this would be to write a test in the hamt repo that writes a value of some set size (maybe 32 byte key, 100 byte value), flushes the hamt, then repeats N times. At the end of the test, check what the total size of all objects written to the blockstore is.

We can then tweak the width and see how it affects those numbers.

[2019-04-22 20:41] #2587 closed

[2019-04-22 20:58] shannonwells opened #2643 "Implement repo duplication & installation in repo migration runner"
### Description
Basic structure + stubs for migration runner, the layer under the repo migration CLI, plus functionality for copying and swapping out the "migrated" copy

### Acceptance criteria
- [x] CLI instantiates and calls MigrationRunner.Run when called with a valid command
- [x] MigrationRunner duplicates repo
- [x] MigrationRunner correctly swaps out the duplicated copy

It's fine if this

[2019-04-22 21:04] shannonwells commented on #2566
awesome, I'll go ahead & close if no objections.

[2019-04-22 22:11] mslipper commented on #2488
PR is open: https://github.com/filecoin-project/rust-fil-proofs/pull/628.

[2019-04-22 22:30] ZenGround0 commented on #2529
cc @shannonwells @anorth please take a look at [this quick report](https://gist.github.com/ZenGround0/82fc8fd946f848051af92dba06f5965e).  The high level is that
(1) we are doing pretty well
(2) the CLI client breaks abstractions in a way which we might want to fix but I consider it fairly low priority and
(3) the proofs directories are super leaky but it shouldn't matter because we want to move th

[2019-04-22 23:20] #2147 closed

[2019-04-23 00:26] anorth commented on #2529
Thanks.

Too many globals, but we can address them as we write tests for migration work.

For the CLI client we could reconsider whether we even need that functionality, or whether there's a simpler way to have a default port. I agree it's low priority.

[2019-04-23 00:59] a8159236 commented on #2617
@frrist With the latest installation package (filecoin-0.1.4-linux.tar.gz), I uploaded two video files, each about 200MB.

[2019-04-23 01:04] anorth commented on #2599
@rosalinekarr could you expand on or link to the user confusion? It does seem generally helpful to me for the daemon to report its network addresses (which peer id kindof is) at boot.

[2019-04-23 01:33] diwufeiwen opened #2645 "[bug]concurrent map iteration and map write"
Describe:
The filecoin daemon will crash while facing non-stop deal-proposals from a client.

Version:test-devnet-0.1.4

Log:
fatal error: concurrent map iteration and map write

goroutine 17856 [running]:
runtime.throw(0x1487c85, 0x26)
/usr/local/go/src/runtime/panic.go:617 +0x72 fp=0xc0c2793c68 sp=0xc0c2793c38 pc=0x4e3e62
runtime.mapiternext(0xc0c2793d48)
/usr/local/go/src/runtime/map.go:860 +0x

[2019-04-23 01:53] steven004 commented on #2630
@frrist , the script is pretty simple, I import a bunch of contents (files) into the client node, and name them with the corresponding cid, then, run the following script:
[code]

From the log, the message-pool handling has some problems when dealing some time-out messages.

[2019-04-23 02:31] steven004 commented on #2630
The possible cause:
The panic happens on filecoin-project/go-filecoin/core/message_pool.go:185, which is:
`for cid, msg := range pool.pending {`

That means the code is reading the map, however, the map could be being written simultenuously, then, it happened.
If it makes sense, I would suggest use RLock for read, and Lock for write separately in this module.

[2019-04-23 06:17] jscode017 commented on #2553
If I would want to try out this issue, may I assume that I have to change the chain/tip_index.go's function:
**func (ti *TipIndex) Get(tsKey string) (*TipSetAndState, error)** , and split it to something like GetTipSet, GetTipSetStateRoot?

[2019-04-23 07:14] ytQiao commented on #2577
@ZenGround0 Thank you for your reply. I have solved this problem.
There may be several reasons for this problem.
1. Miner M go-filecoin mining stop under unknown conditions.
2. My configuration is a little low.
After I improved my configuration, I basically did not have the problem of exceeding the context time limit, and could already display the sealed space on the network statistics dashboard.

[2019-04-23 09:10] vyzo commented on #2561
I think v0.0.16, which has just been tagged, is a good target

[2019-04-23 13:51] ZenGround0 commented on #2595
If it does not get in the way too much I would like to change the chain store to serialize its metadata to cbor as our first proof of concept.  It should be a pretty simple change, touches widely used on disk data, and should put us in the right direction for performance.

This is a NICE TO HAVE, that I believe we should drop if anything else is not ready by the next launch.

[2019-04-23 14:09] ZenGround0 commented on #2595
Just threw this together: https://github.com/filecoin-project/go-filecoin/compare/master...spike/cbor-meta

Change is simple and works on sync / daemon restart and load.

Biggest issue is `plumbing/msg:TestWait`, pretty sure it is related to the classic [funky smell](https://github.com/filecoin-project/go-filecoin/issues/599) issue which might be a hard thing to work around before next release.

[2019-04-23 14:10] AndyChen1984 opened #2647 "Can go-filecoin work on a assigned path,not "~/.filecoin"?Just like IPFS can export IPFS_PATH."
### Description
Please first see README for how to get help before filing a new issue.

### Acceptance criteria

### Risks + pitfalls

### Where to begin

[2019-04-23 15:34] ZenGround0 commented on #2647
Hey @AndyChen1984 in the future could you direct questions that are about go-filecoin usage and not about bugs, development or feature requests to our discussion board: https://discuss.filecoin.io/ ?

The answer is yes, you can run all commands with the `--repodir` flag (see help text for more details) or by setting the `FIL_API` env var.

We used to document the environment variables read by go-f

[2019-04-23 15:35] #2647 closed

[2019-04-23 15:36] ZenGround0 commented on #2647
Woops meant `FIL_PATH` env var.

[2019-04-23 15:43] ZenGround0 commented on #2645
@diwufeiwen thank you for including "Version:test-devnet-0.1.4".
This bug has been fixed on master but it is expected to exist when using this binary because the fix was merged after 0.1.4 was built.  Please wait for the next release at which point this problem will be gone.

If you want to test that this bug is actually fixed on master please build master, connect to the nightly devnet and run th

[2019-04-23 15:43] #2645 closed

[2019-04-23 15:50] ZenGround0 commented on #2630
Hey @steven004 I am suspicious that this is the same bug originally patched [here](https://github.com/filecoin-project/go-filecoin/pull/2486) and actually [here](https://github.com/filecoin-project/go-filecoin/pull/2522/files).  I believe this problem is fixed on master and will stop showing up after the next release.

I'm going to close this for now.  If you want to test this out on master agains

[2019-04-23 15:50] #2630 closed

[2019-04-23 17:17] #2566 closed

[2019-04-23 17:22] frrist commented on #2617
I had a conversation with @laser and he create this outline:

# Why is my deal stuck in the `Staged` state?

## Was my piece too big?

If a storage client C proposes a deal D with a miner M and that D references a piece P whose size is less than or equal to the size of M's staged sector, P will be transferred from C to M and M will write P to its staged sector. The state of D will be `Staged` at t

[2019-04-23 17:22] #2617 closed

[2019-04-23 17:25] #1917 closed

[2019-04-23 17:25] #2529 closed

[2019-04-23 18:34] ognots opened #2648 "[bug] Nightly Badge Update POF"
**Describe the bug**
During CircleCI nightly build, badge updating is failing and causing deploy to fail. As a side-effect, the nightly badge appears to be breaking, too.

**Information**
Failed build:
https://circleci.com/gh/filecoin-project/go-filecoin/14435

Broken Badge Commit:
https://github.com/filecoin-project/go-filecoin-badges/commit/109c3ae77da15fa3872c4531f2f9a4ebc92a906b

Screenshot of

[2019-04-23 18:36] shannonwells commented on #2595
I like the idea of a simple yet meaningful change.  Let's keep it in the back pocket.

[2019-04-23 23:35] travisperson commented on #2538
I've added some documentation in PR #2610 which covers some of the debugging abilities of FAST

[2019-04-24 00:36] frrist opened #2652 "filecoin command that prints diagnostic information"
### Description
We should make it as simple as possible for users to provide developers with the relevant information they need to debug a problem. Our issue template asks for a lot of this  already, go version, filecoin version, OS, etc. but collecting all that information can sometimes be challenging. I propose that we add a command go-filecoin to automate that work.

Feedback on acceptance crit

[2019-04-24 01:09] frrist opened #2653 "Replace go-log with a backend that provides structured logging"
### Description
The design doc proposing a refactor of go-log is on ice until someone with the bandwidth can pick it up. In the meantime I propose that go-filecoin drops go-log and replaces it with a logging framework capable of supporting structured logging, my preference is [logrus](https://github.com/sirupsen/logrus). Logrus's logger is compatible with the API used by go-log, meaning the change

[2019-04-24 03:32] anorth commented on #2653
@ognots @gmas @travisperson, please voice any concerns.
@whyrusleeping @raulk FYI.
@rosalinekarr wrt https://github.com/ipfs/go-log/issues/60 - this may give us the desired configurability.

@frrist informs me that if the go-log facade proposal is later accepted and we wish to switch back, that will also be a low-risk change.

I support this proposal in the absence of any major technical concerns.

[2019-04-24 03:35] anorth commented on #2652
This proposal has great potential to ease our remote debugging efforts. Some of these diagnostics may be harder to obtain than others, but we should not block landing something useful on waiting for those. I suggest that the acceptance criteria for this issue be reduced to a minimum set of easily-obtainable diagnostics to start.

[2019-04-24 03:37] anorth commented on #2652
See #2443 for a listing of commands executed.

[2019-04-24 03:40] anorth commented on #2488
Thank you, sounds reasonable. cc @laser to coordinate with changes to paramfetch that allow easier control of which files to download. @mslipper may be able to assist with some development work there too?

[2019-04-24 09:12] dayou5168 opened #2655 "[bug]Error: error creating payment: failed to add message"
when i try to store data in my other filecoin node
i got this err:
Error: error creating payment: failed to add message to outbound queue: Invalid nonce 457, expected 456

and i notice that : when the block height is low , i store so many times ,no err happen, when the block height increase,i got this err  frequently
does this hapen related with the block height?

[2019-04-24 13:46] acruikshank opened #2656 "check condition payment channel redeem and close"
### Description

If a payment voucher contains a condition, the payment broker must check it before allowing the redeem or close to continue. This involves sending a message to another actor. If the message does not error, the check is considered to be valid. If it returns an error, the voucher is considered to be in an invalid state.

The first target of this functionality is the `verifyPieceIncl

[2019-04-24 17:18] ognots commented on #2516
https://circleci.com/workflow-run/c789099c-6c0a-463f-9132-3f5dbeeb3253 throttles unit, integration and functional tests at `medium` resource class and passes (ran several times to verify). 8:56

https://circleci.com/workflow-run/988aa450-e3bb-445d-8199-6202c8b3c07b runs at optimal settings. 7:41

[2019-04-24 17:41] whyrusleeping commented on #2653
I don't think this is the best use of the dev teams time right now (to make the changes, review them well enough, and to adapt everyone to a different logging interface). Compared to the huge number of other things needing to be done, this should rank pretty low.

[2019-04-24 18:01] raulk commented on #2653
looping in @bigs - pertinent to the discussion we just have about normalising logging across libp2p.

[2019-04-24 18:05] travisperson opened #2659 "Add FAQ for getting funds from faucet"
### Description
User reported issues with recieving funds from the faucet:

- https://filecoinproject.slack.com/archives/CEGN061C5/p1555503741037200
- https://filecoinproject.slack.com/archives/CEGN061C5/p1554801231009900
- https://filecoinproject.slack.com/archives/CEGN061C5/p1551915373022800
- https://filecoinproject.slack.com/archives/CEGN061C5/p1549146594135200
- https://github.com/filecoin-pr

[2019-04-24 19:25] ZenGround0 opened #2660 "TestStorageDealsAfterRestart Flaky"
### Description
Just ran into this on local machine.  Failure came from `15:18:11.301 ERROR       node: processBlock(): processing block from network: failed to fetch all requested blocks: context canceled node.go:1032` showing up in the log and then failing the test on all ERROR matches in the logs.

<details><summary>Click for logs</summary>

<p>

[code]
</p>
</details>

[2019-04-24 20:16] ZenGround0 opened #2661 "TestPaymentChannelLs/Works_with_specified_payer is flaky"
### Description
Here is the log output from travis:
[code]

This sometimes fails and sometimes passes locally
### Acceptance criteria

### Risks + pitfalls

### Where to begin

[2019-04-24 20:23] travisperson opened #2662 "CircleCI should not use golang:latest"
### Description

Currently we use `circleci/golang:latest` in a few places in CI. We should be using the version we recommend in our README everywhere in CI.

### Acceptance criteria

- All uses of `circileci/golang:latest` are switched to `circileci/golang:1.12.1`

### Risks + pitfalls

- We do not discover issues around using new version of golang.
  **note** if we want this we should setup a ni

[2019-04-24 20:24] travisperson commented on #2662
I want thoughts / feedback from @ognots before we move this forward anywhere.

[2019-04-24 21:44] travisperson commented on #2660
Waiting on https://github.com/filecoin-project/go-filecoin/pull/2627

[2019-04-24 21:44] travisperson commented on #2661
Waiting on https://github.com/filecoin-project/go-filecoin/pull/2627

[2019-04-25 00:56] shannonwells commented on #2655
Hello @dayou5168, please fill out the missing information from the Bug report template so we can diagnose this issue.  Otherwise we will have to close.

[2019-04-25 01:00] dayou5168 commented on #2655
@shannonwells
ok ,i will get the detail information later and report again,
you can close this issue now

[2019-04-25 01:03] shannonwells commented on #2655
Thank you, @dayou5168, we'll look at it as soon as possible once you have posted the new report.

[2019-04-25 01:03] #2655 closed

[2019-04-25 01:12] dayou5168 commented on #2652
great!

[2019-04-25 02:27] dayu26 commented on #1917
1. I make deal with other node in asks list, still got error message: failed to establish connection with the peer. How do I know whick ask can work? should I establish connection to miner node first?
2.  Having a single node have more than one libp2p peer id for different roles (storage miner, storage client) I want to know How? Thanks

[2019-04-25 02:55] ognots commented on #2662
yup let's do this. using the `latest` Docker tag is problematic in many ways.

[2019-04-25 06:13] a8159236 commented on #1965
@yangjian102621 Hello, I want to ask, I change the storage paths Filecoin steps is what kind of, first `go-filecoin init --devnet-user --genesisfile=https://genesis.user.kittyhawk.wtf/genesis.car` and then `go-filecoin daemon --repodir=<your data path>`? and then `go-filecoin daemon` ?

[2019-04-25 17:53] ZenGround0 commented on #556
These caches are just as much of a problem today but they have moved to
here: https://github.com/filecoin-project/go-filecoin/blob/master/chain/tip_index.go#L32, and referenced by the chain store here: https://github.com/filecoin-project/go-filecoin/blob/master/chain/default_store.go#L63

[2019-04-25 18:44] mishmosh opened #2666 "Chain Sync Short-Term UX Fixes"
This is a holding bin.

[2019-04-25 18:50] mishmosh opened #2667 "Remove unnecessary errors and warnings during hello"
### Description
Right now we output too many errors and warnings when the node tries to connect to the network and begin syncing the chain. Many of them should be debug messages.

When nodes connect through the hello protocol, but are incorrectly connecting because they're connecting to a different network or different genesis block, the errors logged from that should be debug messages instead.

H

[2019-04-25 18:55] mishmosh opened #2669 "Chain sync status messages"
### Description
When we fetch the chain we periodically print out the height of the most recent block we've fetched from the network: 20,000, 15,000, 10,000. This makes users feel like something is going wrong. We say we are "syncing" blocks up to this height, we should say "fetching". Also we should count forwards, not backwards.

### Acceptance criteria
- Status messages that say "syncing" shoul

[2019-04-25 19:02] ognots commented on #2516
Closed by https://github.com/filecoin-project/go-filecoin/pull/2609

[2019-04-25 19:02] #2516 closed

[2019-04-25 19:03] mishmosh opened #2670 "Human-readable chain sync output"
### Description
After we have fetched blocks and start processing, the log output is extremely noisy. Let's improve the signal to noise ratio.

### Acceptance criteria
1. Remove most of the block processing CLI outputs (sending them to a higher log level such as debug). (This issue doesn't need to touch `rust-fil-proofs` output.)
2. Add a one-line, human-readable status and update it periodically.

[2019-04-25 19:49] #2625 closed

[2019-04-25 23:40] AndyChen1984 commented on #2647
OK.I got it.Thanks for reply.

[2019-04-26 13:11] alanshaw commented on #2504
@mishmosh any chance you can give the tool a go? Instructions are here https://github.com/filecoin-project/filecoin-contributors/blob/master/README.md

When I run it from 01/01/2019 I get the following output - is that what you're looking for:

* [@814556001](https://github.com/814556001) (1 comment)
* [@a8159236](https://github.com/a8159236) (3 issues, 10 comments)
* [@aaronhenshaw](https://githu

[2019-04-26 15:28] mishmosh opened #2671 "Wiki should clarify chain syncing time"
### Description
Currently the wiki tutorials take users from node creation directly into mining. Now that chain syncing takes several hours, this sets them up for failure because while you can stream logs and tap the faucet immediately, the commands won't run successfully unless the chain is up to date.

### Acceptance criteria
The wiki should indicate a clear break before beginning mining, and gi

[2019-04-26 15:29] mishmosh commented on #2671
This is done:
- https://github.com/filecoin-project/go-filecoin/wiki/Getting-Started
- https://github.com/filecoin-project/go-filecoin/wiki/Mining-Filecoin

[2019-04-26 15:29] #2671 closed

[2019-04-26 15:59] #2662 closed

[2019-04-26 18:20] #2656 closed

[2019-04-26 18:30] laser commented on #2488
@mslipper - As per the words [written here](https://github.com/filecoin-project/rust-fil-proofs/pull/631), I had to revert your PR due to the downstream build issues it created.

The TL;DR is that it's a non-zero amount of work to ensure that libcurl is installed in every environment in which we build go-filecoin (which links `libfilecoin_proofs.a`, which includes symbols from libcurl). The Circle

[2019-04-26 20:07] #2561 closed

[2019-04-26 23:11] shannonwells commented on #2588
This has been deferred until we have a migration that needs to call/use old code.

[2019-04-28 08:36] ipfsmainofficial opened #2673 "[bug] go-filecoin crashed when i propose many storage deals at one time"
when i propose many deals to my miner at one time(use go-filecoin client propose-storage-deal), the miner crashed.
log here:
[code]

[2019-04-28 08:38] ipfsmainofficial commented on #2673
I have fixed this bug use a lock.

[2019-04-29 06:00] anorth commented on #2065
I have updated this issue title and description with a bit more info about the scope. This more efficient fetching is just one part of the whole chain sync story.

@ZenGround0 I don't believe you're actively working on it, so unassigning you now.

[2019-04-29 06:06] anorth commented on #2050
@whyrusleeping @ZenGround0 @frrist and others: I am attempting to corral the issues about chain sync into a fuller picture so we can plan an attack. Some questions:

- As you understand it now, is the major bottleneck downloading the chain data or subsequently loading and validating the messages?
- Is the discussion with @warpfork above primarily related to downloading and storing the chain data,

[2019-04-29 06:17] anorth commented on #1729
What does bootstrapping refer to here? Is it just libp2p DHT bootstrapping, or the more general secure peer/chain bootstrapping that we need to implement (https://github.com/filecoin-project/specs/pull/196)?

[2019-04-29 06:18] anorth opened #2674 "Implement principled peer set & chain head bootstrapping"
### Description
Before syncing the chain, a node must determine from peers what the right chain head to sync is. Finding a peer set and chain head to trust is referred to as bootstrapping (distinct from libp2p DHT bootstrapping).

The spec https://github.com/filecoin-project/specs/pull/196 now describes a method, which we can implement.

Note that this is necessary for us to consider chain sync se

[2019-04-29 06:52] anorth opened #2675 "Investigate high level chain sync performance"
### Description
Initial chain syncing for a node that is new or far behind the consensus head is very slow: it can take many hours to sync a weeks-old chain. Sync is a bit vague a term, but I here mean all the work necessary for a node to have processed ~all messages and be ready to mine and send other meaningful messages. It includes at least fetching and storing the blocks (which currently inclu

[2019-04-29 06:53] anorth commented on #2675
I believe that @frrist is already doing some of this investigation, so assigning this to him now. CC also @ZenGround0 @whyrusleeping.

[2019-04-29 13:42] acruikshank commented on #2573
Duplicate of #2625. The method has been renamed to `verifyPieceInclusion`

[2019-04-29 13:42] #2573 closed

[2019-04-29 14:05] acruikshank opened #2676 "Client Validates piece inclusion proof in deal"
Blocked on #2571

### Description

Once a deal is in the POSTED state, it should include a sector id and a piece inclusion proof (#2571). The proof proves that the client's piece is included within the sector represented by the sector id.

Upon making a deal state request and seeing the deal is in the posted state, the client should check for the existence of the pip and check it's validity. This

[2019-04-29 14:18] acruikshank commented on #2572
This story needs the data commitment to be in the deal (#2568) before the miner can verify it.

[2019-04-29 14:47] acruikshank opened #2677 "Store Condition in Payment Channel"
### Description

The redeemer of a payment channel voucher will sometimes need to supply a significant amount of data as additional parameters to a condition, and generally speaking, that data will be the same from one voucher to the next. The payment broker should store the full condition in the payment channel.

In the case of miner payments, this means storing the `verifyPieceInclusion` conditi

[2019-04-29 15:02] acruikshank opened #2678 "Payment Channel Cancel Fails if Condition exists and is valid"
Blocked on #2677

### Description

We don't want payers to be able to harass targets by continually canceling a channel forcing the target to respond with more expensive redeem calls. As of #2677, we will be storing whether the target has successfully redeemed against a payment channel and the last condition they've used. We can use this information to block frivolous calls to cancel.

The `paymen

[2019-04-29 15:07] acruikshank commented on #2570
Addressed in #2644 and #2668

[2019-04-29 15:07] #2570 closed

[2019-04-29 15:12] acruikshank commented on #2594
Superceeded by #2676

[2019-04-29 15:12] #2594 closed

[2019-04-29 15:13] acruikshank commented on #2568
Superceeded bye #2677

[2019-04-29 15:13] #2568 closed

[2019-04-29 16:34] frrist commented on #2673
Hi @ipfsmainofficial, can you please share the version of the binary you are running? This is was a known bug that has been fixed in master and will be deployed on our next release.

 Since it appears you are connected to the devnet that would mean you are running `test-devnet-0.1.4` -- I am going to close this as it has been fixed.

flagging a a duplicate of https://github.com/filecoin-project/go

[2019-04-29 16:34] #2673 closed

[2019-04-29 16:48] rosalinekarr commented on #2599
@anorth: https://filecoinproject.slack.com/archives/CEGN061C5/p1555503677036100

I feel like the `go-filecoin id` method solves this problem better than having users dig through daemon logs. The daemon logs on boot are fairly short right now, but that may not be the case in the future.

[2019-04-29 16:50] rosalinekarr commented on #2553
@jscode017, sorry for the late reply. Yes, that's exactly what this task entails, splitting `GetTipSetAndState` into a `GetTipSet` and `GetTipSetStateRoot` method and updating all invocations to use the new methods.

[2019-04-29 17:12] rosalinekarr commented on #2653
Fwiw, imo, the work here will be well worth it when we need to debug issue on the DevNet during releases, and it could also unblock some seriously beneficial improvements to FAST's error reporting.

[2019-04-29 19:11] travisperson opened #2680 "[bug] Sector path config is not being setup correctly"
**Describe the bug**
Slack discussion: https://filecoinproject.slack.com/archives/CEHHJNJS3/p1556559696046900

There are two parts to this bug

1) The sector path is not expanded which results in a `~/.filecoin/sector` directory being created in the current working directory where the daemon is started.

2) The sector path should default to inside of the filecoin home directory. This means if we s

[2019-04-29 19:54] rosalinekarr commented on #2677
@acruikshank, would the `redeemed` flag on the `PaymentChannel` be redundant with the already existing `AmountRedeemed` field? Could we just check `AmountRedeemed > 0`?

[2019-04-29 20:01] rosalinekarr commented on #2677
For anyone reading this issue, my previous question was resolved offline. `redeemed` is not redundant because it is possible to redeem a value of zero.

[2019-04-29 20:16] #2524 closed

[2019-04-29 23:19] shannonwells opened #2684 "go-filecoin init symlinks to ~/.filecoin/repo to a version-named repo directory sibling"
### Description
Repo migrations will be taking a similar approach to traditional database migrations, where the location of the database dir is actually a symlink pointing to a version-named directory.  Because of this we want to make `go-filecoin init` set up the repo as a version-named directory and then symlink the canonical name to it.
[code]

Then `go-filecoin-migrate` can:
- assume the repo

[2019-04-30 00:26] anorth commented on #2669
There is currently a log message "chain synced" after the chain has been *downloaded* but not *verified*, the latter of which takes much longer. This is very misleading. We should at least not say "synced" at this point.

https://filecoinproject.slack.com/archives/CEHTVSEG6/p1556552276044700

[2019-04-30 02:39] tianfangk commented on #2669
Yes, I'm so confused with this "chain synced". Once I think that I have completed the synchronization.

[2019-04-30 05:06] #2028 closed

[2019-04-30 05:08] anorth commented on #2027
This epic was created in the wake of the open sourcing and initial release of go-filecoin, and has now served its purpose. We still have outstanding issues, but many are less well defined than this epic calls for, and we are no longer devoting explicit time to these issues, outside consideration of all the other things we could build or fix.

I'll close this issue now.

[2019-04-30 05:08] #2027 closed

[2019-04-30 05:09] anorth commented on #2442
@gmasgras @ognots this epic has no open issues, but we have not shared cluster monitoring work with the implementation team yet. Are there issues that should be added? What remains before we can merge our community helpdesk with this role?

[2019-04-30 05:12] anorth commented on #2500
@acruikshank could you comment on the status of this? I believe we have done lots of the low-hanging work here, but there may be some more detail required. If so, could we outline it here so that it can be prioritised?

[2019-04-30 05:14] anorth commented on #2579
I would not have expected the two mining modes to be compatible. Could you outline the use case for mixing them?

Without a strong reason, I think we could just document them as incompatible and move on.

[2019-04-30 05:21] anorth commented on #2684
See also #2524 and beware of any follow-on changes to the env var, what the "repo" refers to, etc.

It would be really great to land this before release so that we can use it for migrations.

[2019-04-30 05:25] anorth commented on #2599
I concur that the `id` command should exist, but don't see logging it at boot as causing any problems here. As well as live information (which will be more useful when logs are cleaned up), it will be very for ad-hoc debugging multi-node systems, where logs might be aggregated etc.

[2019-04-30 05:27] anorth commented on #2634
Added to MFC: protocol upgrades epic, since the growing datastore will be a huge problem when we stop wiping it out every release.

[2019-04-30 05:32] anorth commented on #1835
@travisperson can you comment on this? The issue is a bit old and it's quite likely that all we need is a pointer to some documentation here about how to do it in FAST. Fixing up the old way of doing daemon tests is not useful work.

[2019-04-30 05:34] anorth commented on #2653
I agree with @whyrusleeping in the sense that we should have a concrete and fairly immediate need to motivate actually doing the work for this. Testing and/or debugging may be that need, but I think we should actually experience some great difficulty that this would resolve rather than just a hypothetical.

I'm putting this in the backlog for now.

[2019-04-30 05:36] anorth commented on #2660
That's now merged, does it resolve this issue?

[2019-04-30 06:23] anorth commented on #2524
This landed with a bit of turbulence, triggered by the sector path not being correctly nested in the home directory for daemon tests (#2680).

The implication of my directory layout proposal was that the "repo" is nested one level deeper than `~/.filecoin`, the "home" dir, with the sector data and space for archived pre-migration repos next to it. This name change caused some confusion, as CLI fla

[2019-04-30 06:53] anorth commented on #2684
@shannonwells I have updated the description here to better reflect the directory layout after #2524. I also clarified my understanding of the migration's expectations. I think that the --old-repo arg may be omitted in the usual case, but if specified should point to a directory.

[2019-04-30 13:16] acruikshank commented on #2500
@anortth Much of the pre-validation mentioned above is addressed in #2522 with some follow on work in #2517 and #2546.  Since #2523 we require the gas price be greater than zero.

The biggest outstanding issue is #2525 to limit the size of messages entering the message pool. Since a considerable amount of processing occurs prior to the pre-validation, it would be best if long messages could be tur

[2019-04-30 13:26] #2622 closed

[2019-04-30 13:27] #2574 closed

[2019-04-30 13:39] jscode017 commented on #2553
Are there anyway I can get TipSet or TipsetStateRoot besides read them from tsasByTipSetID map[string]*TipSetAndState?
Now all I can think is access them separately by tsasByTipSetID[tskey].TipSet and tsasByTipSetID[tskey].TipSetStateRoot, but I guess this is not the right way?

[2019-04-30 14:17] rosalinekarr commented on #2553
That sounds like a perfectly good way to access it. There's no need for anything more complicated here.

[2019-04-30 14:53] mishmosh commented on #2669
@anorth are you referring to a separate message from the ones outlined in the original description? Perhaps https://github.com/filecoin-project/go-filecoin/blob/66089103c636ac52bf0ef3bdaca18bafdc210b6b/chain/default_syncer.go#L113?

[2019-04-30 15:06] frrist commented on #2579
Could we disallow them being used together? -- e.g. if `mining start` has been called all calls to `mining once` return an error.

[2019-04-30 15:13] #2599 closed

[2019-04-30 15:24] travisperson commented on #2660
Ah, no nm this is not payment channel related. That PR doesn't help us here :/

[2019-04-30 15:24] frrist commented on #2525
In response to acceptance criteria 1. -- The spec does have a maximum size defined for objects: https://github.com/filecoin-project/specs/blob/master/data-structures.md#encoding-considerations

[2019-04-30 15:25] travisperson commented on #2661
Repro'd after #2627 landed: https://circleci.com/gh/filecoin-project/go-filecoin/14849#tests/containers/1

[2019-04-30 15:28] ognots opened #2685 "Replace strict devnet version checking with protocol-compatibility check"
### Description
Introduced in 0.1.4, go-filecoin checks that it is running the same version (at the same commit) while connecting to a devnet. This was intended as interim until protocol upgrades are implemented.

Relax check to allow upgrading go-filecoin in devnets without resetting chain, while still ensuring compatibility.

### Acceptance criteria
- [ ]  go-filecoin binary version can be upgra

[2019-04-30 15:34] travisperson commented on #2661
[code]

Originally I thought this might be an issue around message not showing up in the mpool before we mined a block. However, in that failure I would actually expect to see a timeout I believe because the `message wait` would hang forever.

In this case, we see that the actor is not found which means that the node we are running the `paych create` on does not have a block with funds sent to the

[2019-04-30 16:26] #2591 closed

[2019-04-30 16:40] laser commented on #2254
This issue was completed in [this PR](https://github.com/filecoin-project/go-filecoin/pull/2607), which modified the `SubmitPoSt` and `CommitSector` signatures to use the more specific types.

[2019-04-30 16:40] #2254 closed

[2019-04-30 17:08] rosalinekarr commented on #2677
@acruikshank, how should we handle acceptance criteria #1 when no condition is provided to the redeem method?

[2019-04-30 17:27] ZenGround0 opened #2687 "What to do about the default repo layout?"
# What is the problem?
PR #2658 introduced the model explicitly outlined in #2524.  This new model caused issues for @laser addressed here: #2683, and during the discussion @travisperson raised a bunch of [issues with the new model](https://github.com/filecoin-project/go-filecoin/pull/2682#issuecomment-487989338).

# What is this issue for?
Outlining the two main courses of action and the differen

[2019-04-30 17:35] frrist commented on #2675
It has been my experience that the time it takes a filecoin node to process its chain dwarfs the time it spends downloading the chain. Because of this I started looking for rabbit holes in the chain processing code.

I have uploaded a performance profile of a filecoin node connected to the user devnet [here](https://ipfs.io/ipfs/QmceatjdZAJQxvfu5vg9qBv1kRTyeMbgWNVf4tNSEgyGzb/profileFilecoin). In a

[2019-04-30 17:46] ognots commented on #2648
Closed by https://github.com/filecoin-project/go-filecoin/pull/2649

[2019-04-30 17:46] #2648 closed

[2019-04-30 17:58] whyrusleeping commented on #2687
It seems to me that setting the sector base when the initializing the filecoin node itself feels a bit weird. The sector base is where a *miner* stores their sectors. When you initialize a filecoin node, there isnt a miner, so creating a sector base at that time is odd.

Other proposal: Configure sector base location per miner. Set it when creating a miner.

I think this approach would satisfy @tr

[2019-04-30 18:36] shannonwells commented on #2687
Here's my ranking of the options, with storage space and stated needs by @travisperson being the primary concerns, and simplicity being secondary.
1a
1b
2c

For 1a, I think that knowing the difference between a repodir and a homedir isn't too hard to understand if somebody needs to.

I consider these last 3 unacceptable because of wasted disk space and/or too much potential for error w.r.t. to cop

[2019-04-30 18:54] ZenGround0 commented on #2687
I think @whyrusleeping's idea above should definitely happen orthogonal to this decision.  For 1a and 1b the default would look like
[code]

For 2c the default would look like
[code]

In either case the `t2pqolz2fl4owvllhgggit32bnu5c3fpv4kstejly` dir could be set to a non-default by a config entry mapping from miner address to on disk path.  And this directory would be created during `mining start

[2019-04-30 19:49] ZenGround0 commented on #2687
Clarifying the above you actually *can* do something like the above (just per daemon, not per miner) today by running `go-filecoin config sectorbase.rootdir <per-daemon-sector-path>` before running `mining start`.  cc @travisperson

[2019-04-30 20:32] ZenGround0 opened #2689 "Move sector storage as sibling to repo, reverting "home" directory concept"
### Description
Remove the homedir concept introduced in #2658.  Replace it with [proposal 2c](https://github.com/filecoin-project/go-filecoin/issues/2687) outline in the link. The sector directory defaults to a sibling of the repo directory `<repodir>/../.filecoin_sectors` without being wrapped in any go-filecoin specific wrapper.  Put another way, go-filecoin doesn't need to know anything about

[2019-04-30 20:32] #2687 closed

[2019-04-30 20:36] ZenGround0 commented on #2687
Going with 2c

[2019-04-30 21:18] frrist commented on #2675
Another rabbit hole that could use exploring is the [merkleizaion of messages in blocks](https://github.com/filecoin-project/go-filecoin/blob/7b215c7df8e578ab26ed875740ff0fac4154485c/types/block.go#L43). Merklizing messages will yield the following benefits:

- Messages can be fetched independently from blocks, meaning a node can pull messages from many peers simultaneously instead of just one as

[2019-05-01 01:07] anorth commented on #2687
Thanks for this detailed write-up @ZenGround0 and 💯 for making a decision. I think this option 2c is pretty much the original proposal in #2524 anyway, before a misunderstanding sent us in a rokcy direction.

I would have liked to see a brief justification along with your decision comment above, though – I expect that you had some discussions outside this issue, and we should put the summary back

[2019-05-01 02:07] anorth commented on #2685
Added to the protocol upgrade epic. Any change we make here should be in concert with that work.

[2019-05-01 02:42] anorth commented on #2669
Yes, I am

On Wed, 1 May 2019 at 00:53, Mosh <notifications@github.com> wrote:

[2019-05-01 04:47] anorth commented on #2675
Thanks @frrist this is a great start.

The LRU cache sounds like a great first thing we can do. I note that it will only provide benefit if the same small set of blocks are fetched many times, but if the shape of the code suggests this is likely, we probably need only a relatively brief design sketch to communicate and inform that implementation.

Your last comment is more about memory pressure th

[2019-05-01 05:05] anorth commented on #2579
SGTM

On Wed, 1 May 2019 at 01:06, Frrist <notifications@github.com> wrote:

[2019-05-01 05:15] anorth commented on #2684
I have updated the description again to reflect the decision in #2687

[2019-05-01 15:20] ognots commented on #1379
unless I'm misreading the golang documentation, statically linking isn't possible without disabling CGO

[2019-05-01 18:39] #2643 closed

[2019-05-01 18:56] mishmosh commented on #1752
@mslipoer can you look into how much detail is in the error codes? If the error can be specifically traced to gas limit, could you change the error msg to something like this:

"Error: Could not create miner because gas limit too low. Please increase the gas limit and try again."

We should not hardcode a recommended gas limit.

[2019-05-01 22:18] mslipper commented on #1752
Got it, will do.

[2019-05-02 11:36] jscode017 commented on #2553
BTW, I am a little confused why in types/tipset.go the functions are func (ts TipSet) instead of func (ts *TipSet)?

[2019-05-02 13:04] rosalinekarr commented on #2553
It looks like a mistake. Feel free to open a pull request to fix it, if you'd like.

[2019-05-02 13:20] jscode017 opened #2703 "In types/tipset.go those func (ts TipSet) maybe should be func (ts *TipSet)?"
### Description
I am curious that why why in types/tipset.go the functions are func (ts TipSet) instead of func (ts *TipSet)?
### Acceptance criteria

### Risks + pitfalls

### Where to begin

[2019-05-02 13:35] jscode017 opened #2704 "Is it okay to use osx10.12 with the new proof?"
**Describe the bug**

I got something like ld: warning: object file (/Users/jasonwang/go/src/github.com/filecoin-project/go-filecoin/proofs/lib/libfilecoin_proofs.a(persistent_cache_helper.o)) was built for newer OSX version (10.13) than being linked (10.12)
due to that I'm on osx10.12
Wonder that if it is okay for this?
If so, how can I disable the print of warnings?
**To Reproduce**
After I run

[2019-05-02 13:56] frrist commented on #2703
Hi @jscode017, methods on `types/tipset.go` are defined as value receivers primarily due to thread safety, and with the exception of `AddBlock`, not needing to modify the receiver value.

Here are a couple links for more information on choosing value vs pointer receivers when writing go:
- https://flaviocopes.com/golang-methods-receivers/
- https://tour.golang.org/methods/8

[2019-05-02 13:56] #2703 closed

[2019-05-02 14:07] frrist commented on #2704
Hi @jscode017, without the exact output it is hard to say, would you mind completing the issue template:

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Run this command '...'
3. See error

**Screenshots**
If applicable, add logging output or screenshots to help explain your problem.

**Version information**
please fill out this information below completely, it will help us so

[2019-05-02 14:15] jscode017 commented on #2704
Sorry, I update my issue, I'm mainly wondering can I still stick to mac osx10.12?

[2019-05-02 14:31] frrist commented on #2704
I cannot say definitively that you won't have any issues since a mismatch in versions could potentially lead to undefind behavior. However since this is a warning you should be fine. I would suggest upgrading in the future to avoid any issues.

[2019-05-02 14:35] jscode017 commented on #2704
Thanks a lot, but are there anyway to not printing it?
my screenshot went something like these
![image](https://user-images.githubusercontent.com/25841989/57083002-6ca02780-6d2a-11e9-9cef-721af17a8eef.png)

[2019-05-02 15:33] frrist commented on #2704
The documentation for `-ldflags` makes me think you can:
[code]
You could try passing `-f` [here](https://github.com/filecoin-project/go-filecoin/blob/master/build/main.go#L192) when building.

However since I am unable to repo this on my own machine I cannot confirm is this will work. I believe your best bet is to upgrade to OSX Version > 10.12.

[2019-05-02 17:30] frrist commented on #2704
@jscode017 I am going to close this issue since a solution has been given: Updating OS X will alleviate these warning messages.

[2019-05-02 17:30] #2704 closed

[2019-05-02 17:51] acruikshank opened #2705 "Client adds `verifyPieceInclusion` conditions to payments"
### Description

In order for a client to be able to prevent miners from collecting payment when they haven't been storing the client's file, the client needs to add piece inclusion conditions to payments. The the ability to specify and add a condition has been added in #2656 and #2573.

There are two parts to this work.

1. The client needs to compute the data commitment (aka CommP) for the piece

[2019-05-02 19:23] #2571 closed

[2019-05-02 19:41] #2669 closed

[2019-05-02 19:41] #2670 closed

[2019-05-02 20:47] #2667 closed

[2019-05-03 02:59] jscode017 commented on #2553
[my first try](https://github.com/filecoin-project/go-filecoin/pull/2710)

[2019-05-03 05:35] anorth opened #2711 "Test failures/flakiness"
**Describe the bug**
I am having real trouble getting the tests to pass, locally and on CI. I can't quite trace it down and not sure if it's just me.

Locally, the typical failure on master is:
[code]

- `TestInspectConfig` fails a lot for me locally, but I don't observe it on CI.
- An `actor not found` message is common in both

Here are some recent failing CI builds on master:
- [15813](https://

[2019-05-03 05:37] anorth commented on #2711
I just scored a green build on the CI branch with all the failures linked above: https://circleci.com/gh/filecoin-project/go-filecoin/15895

[2019-05-03 14:30] #2677 closed

[2019-05-03 14:41] acruikshank commented on #2677
@rosalinekarr and I discussed in another channel. A nil condition passed into redeem should both allow the redeem to execute without checking a condition and clear the existing condition. This permits a last payment that requires a minimal information on chain if the target is willing to wait and the payer does not cancel the payment channel.

[2019-05-03 19:11] frrist opened #2713 "Update the issue template with `go-filecoin inspect` command"
### Description
As a follow on to https://github.com/filecoin-project/go-filecoin/pull/2663 the  [issue_template.md](https://github.com/filecoin-project/go-filecoin/blob/master/.github/ISSUE_TEMPLATE/bug_report.md) needs to be updated such that it directs users to run the `go-filecoin inspect all` command when filing bug reports.

This issue should be completed after the next release when the comm

[2019-05-04 07:53] evildido opened #2716 "[bug] Version missmatch with bootstrap node (v0.1.4)"
**Describe the bug**
With the last version 0.1.3, go-filecoin daemon reports version missmatch with bootstrap node

**To Reproduce**
Following the  #2059  guide (https://github.com/filecoin-project/go-filecoin/wiki/Getting-Started#install-filecoin-and-its-dependencies). I've downloaded go-filecoin ([binary](https://github.com/filecoin-project/go-filecoin/releases/download/test-devnet-0.0.0/filecoi

[2019-05-04 14:15] AndyChen1984 commented on #2632
But I wait for two days,my node still have not synced one  block successfully.

go-filecoin chain ls
zDPWYqFCu9VdMN9pUSSttbjJsxd2sTJGZjXv8AGZvquxnsMRFh9e

root@localhost:~# go-filecoin show block zDPWYqFCu9VdMN9pUSSttbjJsxd2sTJGZjXv8AGZvquxnsMRFh9e
Block Details
Miner:  empty
Weight: 0.000
Height: 0
Nonce:  0

[2019-05-06 02:31] anorth commented on #2689
I think this is now resolved.

[2019-05-06 02:31] #2689 closed

[2019-05-06 05:23] yyh1102 commented on #2716
Same for me. I built the binary from source.

[2019-05-06 14:12] frrist commented on #2716
Hi @evildido, the warning logs from `/fil/hello` are not indicative of an error. There are peers in the network running a different version of filecoin than your own (e.g. a previous version). These errors have since been downgraded in https://github.com/filecoin-project/go-filecoin/pull/2690 as they do not indicte a problem. You can confirm you are connected to peers by running: `go-filecoin swar

[2019-05-06 14:12] #2716 closed

[2019-05-06 14:40] rosalinekarr opened #2719 "[bug] Set price command shifts prompt over on run"
**Describe the bug**

The `go-filecoin set-price` command prints a trailing newline followed by a tab which causes the user's prompt to shift after being run. This is not consistent with our UX elsewhere.

**To Reproduce**

Run `go-filecoin set-price` with valid setup and options.

**Expected behavior**

The command should only print a trailing newline, no additional tab.

**Screenshots**

[code]

[2019-05-06 14:44] rosalinekarr opened #2720 "Improve text output from go-filecoin inspect command"
### Description

It would be helpful if the `go-filecoin inspect all` command output with a text encoder that printed in a format that can be easily copy pasted into GitHub issues.

### Acceptance criteria

`go-filecoin inspect all` has a text format that's more readable.

### Risks + pitfalls

The exact design here is not defined.

### Where to begin

`commands/inspect.go`

[2019-05-06 15:10] rosalinekarr opened #2721 "Nonce too low messages spam daemon logs"
### Description

Log messages like this one are spamming daemon logs:

[code]

We should either fix the format of this message to use less space or reduce the frequency of the log.

### Acceptance criteria

Daemon logs are reasonably readable.

### Risks + pitfalls

We're not sure how we want to handle this yet.

### Where to begin

Figure out what to do.

[2019-05-06 15:20] laser opened #2722 "sector builder "resumes polling after restart" test fails after replacing rocksdb with sled"
### Description

After commit `c78470046e18702b295a43f10a07f8dd386b8e32`, the `TestSectorBuilder`  `sector_builder_resumes_polling_for_staged_sectors_even_after_a_restart` test began to fail.

[code]

The failure manifests when the second sector builder is initialized. The first  sector builder [has acquired an exclusive lock](https://github.com/spacejam/sled/blob/c9f4cb646b7e4588655d500d95b991942

[2019-05-06 15:49] laser opened #2723 "retrieval (Bash) test fails with "could not acquire exclusive file lock" after migrating from RocksDB to sled"
### Description

The Filecoin nodes used in the retrieval (Bash) test initialize their repos as subdirectories of the same parent:

[code]

The "sectors dir" is initialized as a sibling of the repo dir. This means that all three nodes use the same "sectors dir." The sled database is locked by the first node to create the "sectors dir" lock; other nodes panic when attempting to acquire a lock on th

[2019-05-06 16:36] #2723 closed

[2019-05-06 16:48] evildido commented on #2716
Thx @frrist
`go-filecoin swarm peer` returns empty result

Same with 0.2.0

another output (with 0.2.0)
`18:46:14.456  INFO    autonat: Discovered AutoNAT peer QmXhxqTKzBKHA5FcMuiKZv8YaMPwpbKGXHRVZcFB2DX9XY notify.go:33
18:46:19.026 ERROR net.bootst: got error trying to connect to bootstrap node {<peer.ID Qm*crmVbg>: [/dns4/user.kittyhawk.wtf/tcp/9004]}: dial attempt failed: 1 error occurred:
	* <

[2019-05-06 17:33] #2722 closed

[2019-05-06 18:25] mishmosh commented on #2504
Moving here from chat -- the output looks great!

I haven't run this successfully yet. I've run this 3-4 times on multiple dates. First few times, it spun at the "getting contributors" step. Now, I am getting 502 errors after ~5 mins:

[code]

[2019-05-06 18:40] frrist commented on #2716
@evildido you will be unable to connect to `devnet-user` on version `0.2.0` since `0.2.0` isn't deployed on that devnet yet. Your daemon will need to be version `0.1.4` in order to connect to `devnet-user`, the process for getting setup on `0.1.4` is defined [here](https://github.com/filecoin-project/go-filecoin/wiki/Getting-Started#installing-from-binary).

[2019-05-06 19:40] #2680 closed

[2019-05-06 19:44] evildido commented on #2716
@frrist The output was on 0.1.4.

But after restarting the daemon later this evening, I'm able to get peers and sync the blockchain.
Thx for your assistance.

[2019-05-06 19:54] ZenGround0 opened #2729 "CLI for interacting with storage deals"
### Description
Both storage miners and clients keep track of and persist the data associated with storage deals.  This data is needed to do things like redeem payments (for miners), and interact with the payment channel to arbitrate disputes.  This data is also useful to access for the purpose of managing your deals either as a client or a miner.  For example a client will want to be able to look

[2019-05-06 19:59] #2719 closed

[2019-05-06 20:18] #2678 closed

[2019-05-06 20:42] #2553 closed

[2019-05-06 21:16] mishmosh commented on #2721
We've added validation for nonces. Now this info message is triggered for almost every message to the message pool. Hypothesis is that this is due to the same message coming in more than once, via normal gossip protocol behavior.

- [ ] confirm our understanding of root cause with libp2p team

Then, if true:
- [ ] drop this log to debug level only
- [ ] add metrics to track cc @travisperson

cc @Z

[2019-05-06 21:39] mishmosh commented on #2721
via @acruikshank:

[2019-05-06 21:48] mishmosh commented on #2721
via @raulk:

[2019-05-06 21:52] travisperson commented on #2721
I took a look at our logs and we are seeing the same message show quite a few times.

When we setup the devnet we issue an `updatePeerID` from the first node with which we import the miner in the genesis. No other nodes do this.

[code]

I did a search for this mcid, and from our logs I've seen the same message hit this error 221 between 6AM PSD and 2:40 PM.

![2019-05-06-144111_1049x316_scrot](ht

[2019-05-06 21:55] travisperson commented on #2721
I did the same searches with the signature field and also saw the same results.

[2019-05-06 22:13] shannonwells opened #2731 "go-filecoin-migrate logfile is always empty and --verbose does not print to stdout/err"
### Description
[code]
Occurs in master branch.

### Acceptance criteria
Expected output to go to stdout/err as well as logfile.
Also on wishlist: I keep typing `logfile` instead of `log-file` -- can we change the option to `logfile`?

### Risks + pitfalls

### Where to begin

[2019-05-06 22:56] anorth commented on #2721
@raulk Does that mean that it's expected that a node might receive a message up to 120s after it was first broadcast? 120s is four blocktimes for us. If it would be typical behaviour for a message to be bouncing around 10s of seconds after its origin, that could well explain this message.

It doesn't line up well with the charts @travisperson created though - they suggest that a message is being r

[2019-05-06 23:48] raulk commented on #2721
It’s difficult to estimate how long a message may take to reach full propagation across the network, as that depends on many factors, but it certainly shouldn’t take more than a few seconds if the network is well-connected and healthy. Are you using the default time cache setting (120”) for floodsub? Note that the caches are local, meaning that if for whatever reason the message moves really slowl

[2019-05-07 00:00] AndyChen1984 opened #2732 "[bug]Can not sync the chain"
**Describe the bug**
My node can not sync the chain ,and always has on block:
root@localhost:~/filecoin-proof-parameters# go-filecoin chain ls
zDPWYqFCu9VdMN9pUSSttbjJsxd2sTJGZjXv8AGZvquxnsMRFh9e

But the log shows " INFO chain.sync: chain synced default_syncer.go:135"

**To Reproduce**
rm -rf ~/.filecoin
go-filecoin init --devnet-user --genesisfile=https://genesis.user.kittyhawk.wtf/genesis.car
g

[2019-05-07 00:12] anorth commented on #2732
Could you please fill out the version and commit information so that we can tell which code you're running?

[2019-05-07 00:22] AndyChen1984 commented on #2732
go-filecoin version
commit: 966fe75919755074c7c2724f2c9634c2b61d4212

thanks!

[2019-05-07 01:39] anorth commented on #2721
I can't see anywhere that our code explicitly sends a message over pubsub except for its original broadcast, but I'll keep looking. For `CreateMiner` (in the OP), the only entry path is a manual action by the user.

We don't have any validators. From a quick skim of the code, are you referring to something like `RegisterTopicValidator`? I see brief docs at https://github.com/libp2p/specs/tree/mast

[2019-05-07 03:11] urugang opened #2733 "[bug] failed to create miner in localnet without sufficient balance"
**Describe the bug**
1) account A send account B some coin.
2) account A received transaction confirmation.
3) account B did not receive transaction instantly, so account B still have no enough coin to create miner.

**To Reproduce**

[code]

**Expected behavior**
wait a limited time span until enough coin to create miner actor.

**Screenshots**

**Version information**
`
$ git rev-parse HEAD
5d3b